{% extends "base_statdev.html" %}

{% block page_content_inner %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}" />

<div class="container-fluid">
	<div class="row">
		<h1>Approval for {{ object.get_app_type_display }} - {{ object.pk }}</h1>
		<br/>
	</div>

	<!-- Action panel start -->
	<div class="row">
		{% include "approvals/approval_side_menu.html" %}

		<!--- remove everything eblow this tag to the end tag if everything has been moved -->
		<div class="col-sm-4 col-md-3 col-lg-3"  style='display: none'>
			<!-- Actions Card -->
			<div class="card mb-3">
				<div class="card-header">
					<h5 class="card-title mb-0">Actions</h5>
				</div>
				<div class="card-body">
					<ul class="list-unstyled mb-0">
						{% if may_update %}
							<li><a href="{% url 'application_update' object.pk %}">Update application</a></li>
						{% endif %}
						{% if may_create_condition %}
							<li><a href="{% url 'condition_create' object.pk %}">Create a condition</a></li>
						{% endif %}
						{% if may_assign_emergency %}
							<li><a href="{% url 'application_assign' object.pk 'assign_emergency' %}">Assign</a></li>
						{% endif %}
						{% if may_issue %}
							<li><a href="{% url 'application_issue' object.pk %}">Issue/decline application</a></li>
						{% endif %}
						<li><a href="{% url 'application_actions' object.pk %}">Actions log</a></li>
						{% if may_generate_pdf %}
							<li><a href="{% url 'application_detail_pdf' object.pk %}">Generate a PDF</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
			<br>
		
			<!-- Submission Card -->
			<div class="card mb-3">
				<div class="card-header">
					<h5 class="card-title mb-0">Submission</h5>
				</div>
				<div class="card-body">
					<h6 class="fw-bold">Submitted by:</h6>
					<p class="mb-2">
						{% if applicant.first_name %}
							{{ applicant.legal_first_name }} {{ applicant.legal_last_name }}
						{% else %}
							{{ applicant.email }}
						{% endif %}
					</p>
					<h6 class="fw-bold">Lodged on:</h6>
					<p>{{ object.submit_date|date:"d-M-Y" }}</p>
				</div>
			</div>
			<br>
		
			<!-- Workflow Card -->
			<div class="card mb-3">
				<div class="card-header">
					<h5 class="card-title mb-0">Workflow</h5>
				</div>
				<div class="card-body">
					<h6 class="fw-bold">Status:</h6>
					<p class="mb-2">{{ object.get_state_display }}</p>
					<h6 class="fw-bold">Assigned to:</h6>
					{% if assignee %}
						<p>
							{% if assignee.legal_first_name %}
								{{ assignee.legal_first_name }} {{ assignee.legal_last_name }}
							{% else %}
								{{ assignee.email }}
							{% endif %}
						</p>
					{% else %}
						<p>--</p>
					{% endif %}
				</div>
			</div>
			<br>
		</div>
		
		<!-- remove all above to beginning of this tag if everything been moved -->


		<!-- Main panel start -->
		<div class="col-sm-8 col-md-9 col-lg-9">
		<div class="card">
            <div class="card-header fw-bold h4" style="padding:30px;">
            <div class="row">
                    <div class="col-6">
                        Holder
                    </div>
                    <div class="col-6 text-end">
                    <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box1-card-body" onclick=""></i>
                    </div>
            </div> 
            </div>
            
            <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box1-card-body">
						<div class="col-sm-8 col-md-6 col-lg-4">
							<table class="table table-borderless">
								<tr>
									<th>Name</th>
									{% if object.organisation %}
									<td>{{ object.organisation.name }}</td>
									{% elif applicant %}
									<td>{{ applicant.legal_first_name }} {{ applicant.legal_last_name }}</td>
									{% endif %}
								</tr>
								<tr>
									{% if object.organisation %}
									<th>ABN</th>
									<td>{{ object.organisation.abn }}</td>
									{% endif %}
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<br>

			<!-- Address details panel -->
			<div class="card">
				<div class="card-header fw-bold h4" style="padding:30px;">
				<div class="row">
						<div class="col-6">
							Address Details
						</div>
						<div class="col-6 text-end">
						<i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box2-card-body" onclick=""></i>
						</div>
				</div> 
				</div>
				
				<div class="collapse show {{ collapse.vessel_details }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
					<div class="card-body" id="box2-card-body">
						<div class="row mb-3">
							<div class="col-lg-3">
								<label class="fw-bold col-form-label">Postal Address</label>
							</div>
							<div class="col-lg-9">
								{{ postal_address.line1 }}
							</div>
						</div>
					
						{% if postal_address.line2 %}
						<div class="row mb-3">
							<div class="col-lg-3">
								<label class="fw-bold col-form-label">&nbsp;</label> <!-- Empty label for alignment -->
							</div>
							<div class="col-lg-9">
								{{ postal_address.line2 }}
							</div>
						</div>
						{% endif %}
					
						<div class="row mb-3">
							<div class="col-lg-3">
								<label class="fw-bold col-form-label">Town / Suburb</label>
							</div>
							<div class="col-lg-9">
								{{ postal_address.locality }}
							</div>
						</div>
					
						<div class="row mb-3">
							<div class="col-lg-3">
								<label class="fw-bold col-form-label">State</label>
							</div>
							<div class="col-lg-9">
								{{ postal_address.state }}
							</div>
						</div>
					
						<div class="row mb-3">
							<div class="col-lg-3">
								<label class="fw-bold col-form-label">Postcode</label>
							</div>
							<div class="col-lg-9">
								{{ postal_address.postcode }}
							</div>
						</div>
					</div>									
			</div>
		</div>
		<br>

		<!-- Emergency works panel -->
		<div class="card">
			<div class="card-header fw-bold h4" style="padding:30px;">
			<div class="row">
					<div class="col-6">
						{{ object.get_app_type_display }} 
					</div>
					<div class="col-6 text-end">
					<i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box3-card-body" onclick=""></i>
					</div>
			</div> 
			</div>
			
			<div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
				<div class="card-body" id="box3-card-body">
					<div class="row">
						<div class="col-12 col-md-9">
							<div class="row mb-3">
								<!-- Issue Date -->
								<div class="col-12 col-md-3">
									<label class="fw-bold">Issue Date</label>
								</div>
								<div class="col-12 col-md-9">
									{{ object.issue_date|date:"d-M-Y" }}
								</div>
							</div>
							<div class="row mb-3">
								<!-- Start Date -->
								<div class="col-12 col-md-3">
									<label class="fw-bold">Start Date</label>
								</div>
								<div class="col-12 col-md-9">
									{{ object.start_date|date:"d-M-Y" }}
								</div>
							</div>
							<div class="row mb-3">
								<!-- Expiry Date -->
								<div class="col-12 col-md-3">
									<label class="fw-bold">Expiry Date</label>
								</div>
								<div class="col-12 col-md-9">
									{{ object.expiry_date|date:"d-M-Y" }}
								</div>
							</div>
							<div class="row mb-3">
								<!-- Document -->
								<div class="col-12 col-md-3">
									<label class="fw-bold">Document</label>
								</div>
								<div class="col-12 col-md-9">
									<img src="/static/images/pdf.png" alt="PDF Icon">&nbsp;&nbsp;
									<a href="{% url 'approvals_view_pdf' object.pk %}">Document</a>
								</div>
							</div>
						</div>
					</div>
				</div>				
			</div>
			</div>
		</div>
		<br>


	</div>
</div>
</div>
{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script>
$(function() {
	$('.collapse').on('shown.bs.collapse', function() {
		$(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
	}).on('hidden.bs.collapse', function() {
		$(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
	});
});
</script>
{% endblock extra_js %}
