<div class="col-sm-4 col-md-3 col-lg-3">
{% if admin_staff == True %}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Actions</h3>
    </div>
    <div class="card-body">
        <h5>Communications</h5>
        <p><a href="{% url 'approvals_comms' object.pk %}">Show</a> | <a href="{% url 'approvals_comms_create' object.pk %}">Add Entry</a></p>
        <hr />
        <h5>Actions</h5>
        <ul>
        <li><a href="{% url 'approval_actions' object.pk %}">Action Log</a></li>
        </ul>
        <ul>
    </div>
</div>
<br>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Workflow</h3>
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-lg-3 d-flex align-items-center">
                <span class="fw-bold">Status</span>
            </div>
            <div class="col-lg-9 d-flex align-items-center">
                <span>{{ object.get_status_display }}</span>
            </div>
        </div>
        <hr />
        <div class="row mb-3">
            <div class="col-lg-3 d-flex align-items-center">
                <span class="fw-bold">Assigned To</span>
            </div>
            <p></p>
        </div>
    </div>
    
    
    

</div>
<br>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Related Approval</h3>
    </div>
    <div class="card-body">
	<table border=0 width='100%'>
	{% for a in approval_history %}
    	    <tr><td><A HREF='/approvals/{{ a.id }}/'>AP-{{ a.id }}</a></td><td>{{ a.title|truncatechars:25 }}</td></p>
	{% endfor %}
	</table>
    </div>
</div>
<br>

{% endif %}
</div>

