            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Proposed Commercial Acts and Activities
                        </div>
                        <div class="col-6 text-end">
                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box42-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                <div class="collapse show" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box42-card-body">
                        <div class="row mb-3">
                          <div class="col-md-3 fw-bold">Summary</div>
                          <div class="col-md-9">{{ object.description }}</div>
                        </div>
                    </div>                      

                </div>
            </div>
            <br>
