            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            River Reserve Lease (Swan and Cannning Management Act 2006 - section 32)
                        </div>
                        <div class="col-6 text-end">
                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box42-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                <div class="collapse show {{ collapse.river_reserve_lease_section_32 }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box42-card-body">
                        <div class="row mb-3">
                          <div class="col-12">
                            Based on screenshot something is supposed to go here... but not sure what!
                          </div>
                        </div>
                      
                        <div class="row mb-3">
                          <div class="col-3 fw-bold">
                            Does the proposed development involve an activity in the River reserve that will require a River reserve licence?
                          </div>
                          <div class="col-9">
                            {% if object.river_lease_reserve_licence is True %}
                              Yes
                            {% else %}
                              No
                            {% endif %}
                          </div>
                        </div>
                      
                        <div class="row mb-3">
                          <div class="col-3 fw-bold">
                            If Yes, Enter application number (Application must have been successfully submitted)
                          </div>
                          <div class="col-9">
                            {% if object.river_lease_application_number %}
                              {{ object.river_lease_application_number }}
                            {% else %}
                              <i>No Application Number</i>
                            {% endif %}
                          </div>
                        </div>
                      </div>                      
                </div>
            </div>
            <br>

