
<!-- Vessel / Craft Panel -->
<div class="card">
    <div class="card-header fw-bold h4" style="padding:30px;">
        <div class="row">
            <div class="col-6">
                Vessel and craft details
            </div>
            <div class="col-6 text-end">
                  <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box35-card-body" onclick=""></i>
            </div>
      </div> 
    </div>
    <div class="collapse show" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
        <div class="card-body" id="box35-card-body">
            {% if object.vessel_or_craft_details == 3 %}
              <div id="vessels_table">
                {% include "applications/application_vessels_table.html" %}
              </div>
              {% if not object.vessels.exists %}
                <p>None</p>
              {% endif %}
          
            {% elif object.vessel_or_craft_details == 2 %}
              <div class="row mb-3">
                <div class="col-md-3 fw-bold">
                  Type of Craft
                </div>
                <div class="col-md-9">
                  {{ object.type_of_crafts }}
                </div>
              </div>
          
              <div class="row mb-3">
                <div class="col-md-3 fw-bold">
                  Number of Craft
                </div>
                <div class="col-md-9">
                  {{ object.number_of_crafts }}
                </div>
              </div>
          
            {% else %}
              <p>No Selection</p>
            {% endif %}
          </div>
          
   </div>
</div>

