            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Stakeholder Communications
                        </div>
                        <div class="col-6 text-end">
                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box11-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                <div class="collapse show {{ collapse.stakeholder_communication }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box11-card-body">
                        <div class="row mb-3">
                          <div class="col-12">
                            <label class="fw-bold text-decoration-underline">Application</label>
                          </div>
                        </div>
                      
                        <div class="row mb-3">
                          <div class="col-3 fw-bold">The letter to stakeholders</div>
                          <div class="col-9">
                            <!-- Add file link or content here if needed -->
                          </div>
                        </div>
                      
                        {% for i in stakeholder_communication %}
                        <div class="row mb-2 border-bottom pb-2">
                          <div class="col-3 fw-bold">Email</div>
                          <div class="col-9">{{ i.email }} ({{ i.name }})</div>
                      
                          <div class="col-3 fw-bold">Role</div>
                          <div class="col-9">{{ i.get_role_display }}</div>
                      
                          <div class="col-3 fw-bold">Communication Type</div>
                          <div class="col-9">{{ i.get_comm_type_display }}</div>
                        </div>
                        {% endfor %}
                      </div>
                      
                      
            </div>
</div>
<br>

