{% extends "base_statdev.html" %}

{% block page_content_inner %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}?ver={{ GIT_COMMIT_HASH }}" />

<div class="container-fluid">
    <div class="row">
        <h1>Application for {{ object.get_app_type_display }} - {{ object.pk }}</h1>
        <br/>
    </div>
    <!-- Action panel start -->
    <div class="row">
        {% include "applications/application_side_menu.html" %}

        <!--- remove everything eblow this tag to the end tag if everything has been moved -->
        <div class="col-sm-4 col-md-3 col-lg-2"  style='display: none'>
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Actions</h5>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        {% if may_update %}
                            <li><a href="{% url 'application_update' object.pk %}">Update application</a></li>
                        {% endif %}
                        {% if may_create_condition %}
                            <li><a href="{% url 'condition_create' object.pk %}">Create a condition</a></li>
                        {% endif %}
                        {% if may_assign_emergency %}
                            <li><a href="{% url 'application_assign' object.pk 'assign_emergency' %}">Assign</a></li>
                        {% endif %}
                        {% if may_issue %}
                            <li><a href="{% url 'application_issue' object.pk %}">Issue/decline application</a></li>
                        {% endif %}
                        <li><a href="{% url 'application_actions' object.pk %}">Actions log</a></li>
                        {% if may_generate_pdf %}
                            <li><a href="{% url 'application_detail_pdf' object.pk %}">Generate a PDF</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>            
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Submission</h5>
                </div>
                <div class="card-body">
                    <h4>Submitted by:</h4>
                    <p>
                        {% if applicant.legal_first_name %}{{ applicant.legal_first_name }} {{ applicant.legal_last_name }}
                        {% else %}{{ applicant.email }}
                        {% endif %}
                    </p>
                    <h4>Lodged on</h4>
                    <p>{{ object.submit_date|date:"d-M-Y" }}</p>
                    {% comment %}
                    <br />
                    <h4>Lodgement  Date   Action</h4>
                    {% endcomment %}
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Workflow</h5>
                </div>
                <div class="card-body">
                    <h4>Status:</h4>
                    <p>{{ object.get_state_display }}</p>
                    <h4>Assigned to:</h4>
                    {% if assignee %}
                        <p>
                        {% if assignee.legal_first_name %}{{ assignee.legal_first_name }} {{ assignee.legal_last_name }}
                        {% else %}{{ assignee.email }}
                        {% endif %}
                        </p>
                    {% else %}
                        <p>--</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- remove all above to beginning of this tag if everything been moved -->

    
        <!-- Main panel start -->
        {% if hidden.holder == "False" %}
        <!-- Holder panel -->
        <div class="col-sm-8 col-md-9 col-lg-9">
        <div class="card">
            <div class="card-header fw-bold h4" style="padding:30px;">
            <div class="row">
                    <div class="col-6">
                    Holder
                    </div>
                    <div class="col-6 text-end">
                    <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box26-card-body" onclick=""></i>
                    </div>
            </div> 
            </div>
            
            <div class="collapse show {{ collapse.holder }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                <div class="card-body" id="box26-card-body">
                    <div class="row mb-3">
                        <div class="col-md-3 fw-bold">
                            <label>Name</label>
                        </div>
                        <div class="col-md-9">
                            {% if object.organisation %}
                                {{ object.organisation.name }}
                            {% elif applicant %}
                                {{ applicant.legal_first_name }} {{ applicant.legal_last_name }}
                            {% endif %}
                        </div>
                    </div>
                
                    {% if object.organisation %}
                    <div class="row mb-3">
                        <div class="col-md-3 fw-bold">
                            <label>ABN</label>
                        </div>
                        <div class="col-md-9">
                            {{ object.organisation.abn }}
                        </div>
                    </div>
                    {% endif %}
                </div>
                
                
                </div>
            </div>
            <br>
            {% endif %}

            <!-- Address details panel -->
            {% if hidden.address == "False" %}
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                <div class="row">
                        <div class="col-6">
                            Address Details
                        </div>
                        <div class="col-6 text-end">
                        <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box27-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                
                <div class="collapse show {{ collapse.address }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box27-card-body">
                        <div class="col-sm-4 col-md-3 col-lg-3">
                            <table class="table table-borderless">
                                <tr>
                                    <th>Postal address</th>
                                    <td>{{ postal_address.line1 }}</td>
                                </tr>
                                {% if address.line2 %}
                                <tr>
                                    <td></td>
                                    <td>{{ postal_address.line2 }}</td>
                                </tr>
                                {% endif %}
                                <tr>
                                    <th>Town / Suburb</th>
                                    <td>{{ postal_address.locality }}</td>
                                </tr>
                                <tr>
                                    <th>State</th>
                                    <td>{{ postal_address.state }}</td>
                                </tr>
                                <tr>
                                    <th>Postcode</th>
                                    <td>{{ postal_address.postcode }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
            <!-- Emergency works panel -->

            {% if hidden.emergencyworks == "False" %}
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                <div class="row">
                        <div class="col-6">
                            Emergency Works
                        </div>
                        <div class="col-6 text-end">
                        <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box28-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                
                <div class="collapse show {{ collapse.emergencyworks }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box28-card-body">
                        <div class="col-sm-8 col-md-6 col-lg-3">
                            <table class="table table-borderless">
                                <tr>
                                    <th>Issue Date</th>
                                    <td>{{ object.issue_date|date:"d-M-Y" }}</td>
                                </tr>
                                <tr>
                                    <th>Start Date</th>
                                    <td>{{ object.proposed_commence|date:"d-M-Y" }}</td>
                                </tr>
                                <tr>
                                    <th>Expiry Date</th>
                                    <td>{{ object.proposed_end|date:"d-M-Y" }}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}

            <!-- Conditions panel -->
            {% include "applications/application_conditions.html" %}


        </div>
    </div>
</div>
{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script>
    $(function() {
        $('.collapse').on('shown.bs.collapse', function() {
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hidden.bs.collapse', function() {
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });
</script>
{% endblock extra_js %}
