{% extends "base_statdev.html" %}

{% block page_content_inner %}


<div >

  <div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Choose Route
    </button>
    <ul class="dropdown-menu">
      {% for r, v in workflow %}
        {% if r != 'options' %}
          {% if route == r %}
            <li>
              <a class="dropdown-item" href="?route={{ r }}" style="color:red; font-weight: bold;">
                Route {{ r }} - {{ v.title }}
              </a>
            </li>
          {% else %}
            <li>
              <a class="dropdown-item" href="?route={{ r }}">
                Route {{ r }} - {{ v.title }}
              </a>
            </li>
          {% endif %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
  

<br><br>
</div>


<div class="card">
  <div class="card-header fw-bold h4" style="padding:30px;">
      <div class="row">
          <div class="col-6">
            Application Flows - route ({{ route }}) - {{ workflow_route.title }}
          </div>
          <div class="col-6 text-end">
                <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box5-card-body" onclick=""></i>
          </div>
    </div> 
  </div>

  <div class="collapse show" id="company_details_collapse" role="tabpanel" aria-labelledby="company_details_heading">
      <div class="card-body" id="box5-card-body">
        <div class="card border-warning mb-3">
          <div class="card-header bg-warning text-dark">
            <h5 class="card-title mb-0">Collapse Boxes</h5>
          </div>
          <div class="card-body">
            {% for r, v in workflow_route.collapse.items %}
              <strong>{{ r }}</strong>: {{ v }}<br>
            {% endfor %}
          </div>
        </div>
        
        <div class="card border-warning mb-3">
          <div class="card-header bg-warning text-dark">
            <h5 class="card-title mb-0">Fields</h5>
          </div>
          <div class="card-body">
            {% for r, v in workflow_route.fields.items %}
              <strong>{{ r }}</strong>: {{ v }}<br>
            {% endfor %}
          </div>
        </div>
        
        <div class="card border-warning mb-3">
          <div class="card-header bg-warning text-dark">
            <h5 class="card-title mb-0">Hidden</h5>
          </div>
          <div class="card-body">
            {% for r, v in workflow_route.hidden.items %}
              <strong>{{ r }}</strong>: {{ v }}<br>
            {% endfor %}
          </div>
        </div>
        
        <div class="card border-info mb-3">
          <div class="card-header bg-info text-white">
            <h5 class="card-title mb-0">Assigned To Permissions</h5>
          </div>
          <div class="card-body">
            {% for r, v in workflow_route.assigntoaccess.items %}
              <strong>{{ r }}</strong>: {{ v }}<br>
            {% endfor %}
          </div>
        </div>
        
        <div class="card border-info mb-3">
          <div class="card-header bg-info text-white">
            <h5 class="card-title mb-0">Group Permissions</h5>
          </div>
          <div class="card-body">
            {% for r, v in workflow_route.groupaccess.items %}
              <strong>{{ r }}</strong><br>
              {% for c, d in v.items %}
                &nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ c }}</strong>: {{ d }}<br>
              {% endfor %}
            {% endfor %}
          </div>
        </div>
        
        <div class="card border-danger mb-3">
          <div class="card-header bg-danger text-white">
            <h5 class="card-title mb-0">Condition Based Routes</h5>
          </div>
          <div class="card-body">
            {% for r, v in workflow_route.condition_based_actions.items %}
              <strong>{{ r }}</strong>:<br>
              {% for c, d in v.items %}
                {% if c == 'routeoptions' %}
                  &nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ c }}</strong><br>
                  {% for e, f in d.0items %}
                    {% if e == 'required' %}
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ e }}</strong>
                      {% for g in f %}
                        {{ g }},
                      {% endfor %}
                      <br>
                    {% elif e == 'route' %}
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ e }}</strong> <a href="?route={{ f }}">{{ f }}</a><br>
                    {% else %}
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ e }}</strong>: {{ f }}<br>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  &nbsp;&nbsp;&nbsp;&nbsp;<strong>{{ c }}</strong>: {{ d }}<br>
                {% endif %}
              {% endfor %}
              <br>
            {% endfor %}
          </div>
        </div>
        
        <div class="card border-danger mb-3">
          <div class="card-header bg-danger text-white">
            <h5 class="card-title mb-0">Action / Routes</h5>
          </div>
          <div class="card-body">
            {% for v in workflow_route.actions %}
              {% for r, y in v.items %}
                {% if r == 'required' %}
                  <strong>{{ r }}</strong>:
                  {% for c in y.items %}
                    {{ c }}
                  {% endfor %}
                  <br>
                {% elif r == 'route' %}
                  <strong>{{ r }}</strong>: <a class="btn btn-primary btn-sm" href="?route={{ y }}">Route {{ y }}</a><br>
                {% else %}
                  <strong>{{ r }}</strong>: {{ y }}<br>
                {% endif %}
              {% endfor %}
              <br><br>
            {% endfor %}
          </div>
        </div>        


        <!--- END -->


    </div>
</div>

{% endblock %}
