<div class="card">
    <div class="card-header fw-bold h4" style="padding:30px;">
        <div class="row">
            <div class="col-6">
                  Location
            </div>
            <div class="col-6 text-end">
                  <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box32-card-body" onclick=""></i>
            </div>
      </div> 
    </div>
      
    <div class="collapse show {{ collapse.certificate_commerical_acts_and_activities }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
        <div class="card-body" id="box32-card-body">
            <div class="row mb-3">
                <div class="col-md-3 fw-bold">
                    <label>Lot Number</label>
                </div>
                <div class="col-md-9">
                    {{ object.lot }}
                </div>
            </div>
        
            <div class="row mb-3">
                <div class="col-md-3 fw-bold">
                    <label>Reserve Number</label>
                </div>
                <div class="col-md-9">
                    {{ reserve_number }}
                </div>
            </div>
        
            <div class="row mb-3">
                <div class="col-md-3 fw-bold">
                    <label>Town / Suburb</label>
                </div>
                <div class="col-md-9">
                    {{ town_suburb }}
                </div>
            </div>
        
            <div class="row mb-3">
                <div class="col-md-3 fw-bold">
                    <label>Nearest road intersection</label>
                </div>
                <div class="col-md-9">
                    {{ nearest_road_intersection }}
                </div>
            </div>
        
            <div class="row mb-3">
                <div class="col-md-3 fw-bold">
                    <label>Local government authority</label>
                </div>
                <div class="col-md-9">
                    {{ local_government_authority }}
                </div>
            </div>
        
            <div class="row mb-3">
                <div class="col-md-3 fw-bold">
                    <label>Are any proposed works, acts or activities in or over waters?</label>
                </div>
                <div class="col-md-9">
                    {{ over_water }}
                </div>
            </div>
        </div>

    </div>
</div>
<br>
