{% extends "base_statdev.html" %}

{% block page_content_inner %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}?ver={{ GIT_COMMIT_HASH }}" />

<div class="container-fluid">
    <div class="row">
        <h1>Application for {{ object.get_app_type_display }} - {{ object.pk }}</h1>
        <br />
    </div>
    <!-- Action panel start -->

    <div class="row">
        {% include "applications/application_side_menu.html" %}

        <!-- Main panel start -->
        <div class="col-sm-8 col-md-9 col-lg-9">
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Amendment Request
                        </div>
                        <div class="col-6 text-end">
                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box1-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                
                <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box1-card-body">
                        <div class="row mb-3">
                          <div class="col-md-3 fw-bold">Part 5 Approval Id:</div>
                          <div class="col-md-9">AP-{{ object.approval_id }}</div>
                        </div>
                      
                        <div class="row mb-3">
                          <div class="col-md-3 fw-bold">Details of proposed amendment</div>
                          <div class="col-md-9">{{ object.proposed_development_description }}</div>
                        </div>
                      
                        <div class="row mb-3">
                          <div class="col-md-3 fw-bold">Supporting Documents</div>
                          <div class="col-md-9">
                            {% for doc in proposed_development_plans_list %}
                              <div class="mb-1">
                                <img src="{% static 'images/pdf.png' %}" alt="PDF icon">&nbsp;
                                <a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">{{ doc.path_short }}</a>
                              </div>
                            {% endfor %}
                          </div>
                        </div>
                      </div>                      
                </div>
        </div>
        <div class="card">
            <div class="card-header fw-bold h4" style="padding:30px;">
                <div class="row">
                    <div class="col-6">
                        Assessment
                    </div>
                    <div class="col-6 text-end">
                        <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box2-card-body" onclick=""></i>
                    </div>
            </div> 
            </div>
            
            <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                <div class="card-body" id="box2-card-body">
                    <div class="row mb-3">
                      <div class="col-md-3 fw-bold">Assessment Status</div>
                      <div class="col-md-9">{{ object.get_state_display }}</div>
                    </div>
                  
                    <div class="row mb-3">
                      <div class="col-md-3 fw-bold">Details</div>
                      <div class="col-md-9">{{ object.proposed_development_description }}</div>
                    </div>
                  
                    <div class="row mb-3">
                      <div class="col-md-3 fw-bold">Assessed By</div>
                      <div class="col-md-9">{{ object.assessed_by.first_name }} {{ object.assessed_by.last_name }}</div>
                    </div>
                  
                    <div class="row mb-3">
                      <div class="col-md-3 fw-bold">Date</div>
                      <div class="col-md-9">24/08/2017</div>
                    </div>
                  </div>
                  
                </div>
         </div>	


		</div>
    </div>
</div>
{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script>
    $(function() {
        $('.collapse').on('shown.bs.collapse', function() {
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hidden.bs.collapse', function() {
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });
</script>
{% endblock extra_js %}
