                        <table class="table table-striped table-bordered table-condensed">
                                <thead>
                                        <tr>
                                                <th>Name</th>
                                                <th>Sent date</th>
                                                <th>Period (days)</th>
                                                <th>Status</th>
                                                <th>Feedback</th>
                                                <th>Proposed Conditions</th>
                                                <th>Documents</th>
                                                <th>Actions</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        {% for ref in object.referral_set.all %}
                                        <tr>
                                                <td>{{ ref.referee }}</td>
                                                <td>{{ ref.sent_date|date:"d-M-Y" }}</td>
                                                <td>{{ ref.period }}</td>
                                                <td>{{ ref.get_status_display }}</td>
                                                <td>{{ ref.feedback }}</td>
                                                <td>{{ ref.proposed_conditions }}</td>
                                                <td>

                                                      {% if ref.records.exists %}
                                                                 {% for doc in ref.records.all %}
                                                                         <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='{{ doc.file_url }}' target='comms_attachment_{{ doc.id }}'>{{ doc.name }}</A></div>
                                                                 {% endfor %}
                                                      {% endif %}

                                                </td>
                                                <td>
                                                        {% if may_referral_delete == "True" and mode == 'update'  %}
                                                                    <button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm('{% url 'referral_delete' ref.pk %}');" type="button">Delete</button>
                                                        {% endif %}

                                                        {% if may_recall_resend %}
                                                             {% if may_recall_resend == "True" %}
                                                                        {% if ref.status == ref.REFERRAL_STATUS_CHOICES.referred %}
                                                                        <a class="btn btn-primary btn-sm" role="button" href="{% url 'referral_recall' ref.pk %}">Recall</a>
                                                                        <a class="btn btn-primary btn-sm" role="button" href="{% url 'referral_remind' ref.pk %}">Remind</a>
                                                             {% endif %}
                                             {% endif %}
                                    {% endif %}
                                        {% comment %}{% endcomment %}

                            {% if may_referral_resend == "True" %}
                                                           {% if ref.status == ref.REFERRAL_STATUS_CHOICES.recalled or ref.status == ref.REFERRAL_STATUS_CHOICES.responded %}
                                                             {# TODO: Referral resend function #}
                                 <a class="btn btn-primary btn-sm" role="button" href="{% url 'referral_resend' ref.pk %}">Resend</a>
                                                           {% endif %}
                            {% endif %}
                                                </td>
                                        </tr>
                                        {% endfor %}
                                </tbody>
                        </table>

