{% extends "base_statdev.html" %}

{% block page_content_inner %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}?ver={{ GIT_COMMIT_HASH }}" />
<script>
{% if object.state == 1 %}{% if object.app_type == None %}window.location = "{% url 'application_apply_form' object.pk 'apptype' %}";{% else %}window.location = "{% url 'application_update' object.pk %}";{% endif %}{% else %}{% endif %}
</script>
<div class="container-fluid">
    <div class="row">
        <h1>Application for {{ object.get_app_type_display }} - {{ object.pk }}</h1>
        <br/>
    </div>
    <!-- Action panel start -->
    <div class="row">
        {% include "applications/application_side_menu.html" %}
        <!-- Main panel start -->
        <div class="col-sm-8 col-md-9 col-lg-9">
{% if object.state == 1 %}
{% if object.submitter_comment|length > 1 %}
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <i class="bi bi-exclamation-triangle-fill me-2" aria-hidden="true"></i>
    <strong class="visually-hidden">Error:</strong>
    &nbsp;&nbsp;{{ object.submitter_comment }}
</div>  
{% endif %}
{% endif %}

            <!-- Applicant panel -->
            {% if hidden.applicant == "False" %}
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                              Applicant
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box1-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                <div class="collapse show {{ collapse.applicant }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box1-card-body">
	            {% if object.organisation %}
			   {% include "applications/organisation_update_snippet.html" %}
	            {% else %}
                       	{% include "applications/applicant_snippet.html" %}
		    {% endif %}
                    </div>
                </div>
            </div>
            <br>
            {% endif %}
            {% if hidden.title == "False" %}
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                              Title
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box2-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                <div class="collapse show {{ collapse.title }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box2-card-body">
                        <p>{{ object.title }}</p>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}

            {% if hidden.proposed_activities == "False" %}
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Proposed Commercial Acts and Activites
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box3-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                <div class="collapse show {{ collapse.proposed_activties }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box3-card-body">
                        <p>{{ object.description }}</p>
                    </div>
                    
                    
                </div>
            </div>
            <br>
            {% endif %}

            {% if hidden.certificate_commerical_acts_and_activities == "False" %}
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Certificate of Title Volume
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box4-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                <div class="collapse show {{ collapse.certificate_commerical_acts_and_activities }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box4-card-body">
                        <div class="row mb-3">
                            <div class="col-lg-4">
                                <label class="fw-bold">Certificate of Title Volume</label>
                                <div>{{ certificate_of_title_volume }}</div>
                            </div>
                            <div class="col-lg-4">
                                <label class="fw-bold">Folio</label>
                                <div>{{ folio }}</div>
                            </div>
                            <div class="col-lg-4">
                                <label class="fw-bold">Diagram / Plan / Deposit Number</label>
                                <div>{{ diagram_plan_deposit_number }}</div>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-4">
                                <label class="fw-bold">Subject Lot Lot Number</label>
                                <div>{{ lot }}</div>
                            </div>
                            <div class="col-lg-8">
                                <label class="fw-bold">Location</label>
                                <div>{{ location }}</div>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <label class="fw-bold">Reserve Number</label>
                                <div class="col-lg-4">{{ reserve_number }}</div>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <label class="fw-bold">Street Number &amp; Name</label>
                                <div class="col-lg-8">{{ street_number_and_name }}</div>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <label class="fw-bold">Town / Suburb</label>
                                <div class="col-lg-4">{{ town_suburb }}</div>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <label class="fw-bold">Nearest road intersection</label>
                                <div class="col-lg-8">{{ nearest_road_intersection }}</div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            
            <br>
            {% endif %}

            {% if hidden.river_reserve_lease_section_29 == "False" %}
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            River Reserve Lease (Swan and Cannning Management Act 2006 - section 29)
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box5-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                <div class="collapse show {{ collapse.river_reserve_lease_section_29 }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box5-card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <p>
                                    If you intend to apply for a lease in relation to this proposed development, you will need to complete a separate Form – Application for a River reserve lease – and lodge it concurrently with this application.
                                    <br><strong>Note:</strong> River reserve leases will not be granted for developments requiring approval under section 70 of the Act – to which the proposed lease relates – unless that approval has been granted.
                                </p>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="fw-bold">Does the development require a River reserve lease?</label>
                                <div>
                                    {% if object.river_lease_require_river_lease is True %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="fw-bold">If Yes, Please Attach application (PDF)</label>
                                <div>
                                    {% if object.river_lease_scan_of_application %}
                                        <a href="{{ object.river_lease_scan_of_application.file_url }}" target="new_tab_{{ object.river_lease_scan_of_application.id }}">
                                            {{ river_lease_scan_of_application_short }}
                                        </a>
                                    {% else %}
                                        No Attachment Added
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                
            </div>
            <br>
            {% endif %}

            {% if hidden.river_reserve_lease_section_32 == "False" %}
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            River Reserve Lease (Swan and Cannning Management Act 2006 - section 32)
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box6-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                <div class="collapse show {{ collapse.river_reserve_lease_section_32 }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box6-card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <p>
                                    Based on screenshot something is supposed to go here... but not sure what!
                                </p>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="fw-bold">Does the proposed development involve an activity in the River reserve that will require a River reserve licence?</label>
                                <div>
                                    {% if object.river_lease_reserve_licence is True %}
                                        Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-12">
                                <label class="fw-bold">If Yes, Enter application number (Application must have been successfully submitted)</label>
                                <div>
                                    {% if object.river_lease_application_number %}
                                        {{ object.river_lease_application_number }}
                                    {% else %}
                                        <i>No Application Number</i>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <br>
            {% endif %}
            {% if hidden.details_of_proposed_development == "False" %}
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Details of Proposed Development
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box7-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                <div class="collapse show {{ collapse.details_of_proposed_development }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box7-card-body">
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <label class="fw-bold">Estimated cost of development (AU$)</label>
                                <div class="col-lg-4">{{ object.cost }}</div>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <label class="fw-bold">Current use of land</label>
                                <div>{{ object.proposed_development_current_use_of_land }}</div>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <label class="fw-bold">Proposed development</label>
                                <div>{{ object.proposed_development_description }}</div>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <label class="fw-bold">Attach a full set of plans</label>
                                <div>
                                    {% if proposed_development_plans_list %}
                                        {% for doc in proposed_development_plans_list %}
                                            <div class="mb-1">
                                                <a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">{{ doc.path_short }}</a>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        No Attachments
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <br>
            {% endif %}
            {% if hidden.landowner_consent == "False" %}
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Landowner Consent
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box8-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                <div class="collapse show {{ collapse.landowner_consent }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box8-card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <p>
                                    Print <a href="">this document</a> and have it signed by each landowner (or body responsible for management).<br><br>
                                    <label class="fw-bold">Attach signed documents to this application.</label>
                                </p>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-4">
                                {% if land_owner_consent_list %}
                                    {% for doc in land_owner_consent_list %}
                                        <div class="mb-1">
                                            <a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">{{ doc.path_short }}</a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    No Attachments Added
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <br>
            {% endif %}
            {% if is_staff == True %}
            {% if hidden.deed == "False" %}
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Deed
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box9-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                <div class="collapse show {{ collapse.deed }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box9-card-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                Print <a href=''>this deed</a>, sign it and attach it to this application<BR>
                            </div>
                            <div class="col-lg-12">
				    <A HREF='{{ object.deed.file_url }}' target="new_tab_{{ object.deed.id }}">{{ deed_short }}</A>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            {% endif %}

            {% if hidden.publication == "False" %}
                    {% include "applications/application_publication.html" %}
            {% endif %}

            {% if hidden.stakeholdercommunication == "False" %}
                {% include "applications/application_stakeholder_comms.html" %}

            {% endif %}

            {% if hidden.referrals == "False" %}
                {% include "applications/application_referrals.html" %}
            {% endif %}

            <!-- Conditions panel -->
            {% if hidden.conditions == "False" %}
                {% include "applications/application_conditions.html" %}
            {% endif %}
            <!-- Workflow - Assessment -->
            {% if hidden.assessments == "False" %}
                {% include "applications/application_part5_assessment.html" %}
            {% endif %}

            {% endif %}

<script>

function loadForm() {
               $.ajax({
                    url: '{% url 'application_conditions_table' object.pk %}',
                    async: false,
                    success: function(data) {
                          $('#conditions_table').html(data);
                    }
               });
}

</script>
        </div>
    </div>
</div>
{% endblock page_content_inner %}
