            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="assessment_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#assessment_collapse" aria-expanded="false" aria-controls="assessment_collapse">
                            Assessment
                            <span class="glyphicon glyphicon-chevron-down collapse-glyph"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse collapse {{ collapse.assessments }}" id="assessment_collapse" role="tabpanel" aria-labelledby="assessment_heading">
                    <div class="panel-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            {% if hidden.assessments_draft_report == "False" %}
                            <div class="col-lg-12">
                                <label><u>Draft Report</u></label>
                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <label>Current Version of Report</label>
                                </div>
                                <div class="col-lg-9">
                                    {% if object.document_new_draft.exists %}
				    {% for doc in object.document_new_draft.all %}<a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">Assessment Report 2 - {{ doc }}</a><br>{% endfor %}

                                    {% else %}
                                    {% if object.document_draft.exists %}
				    {% for doc in object.document_draft.all %}<a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">Assessment Report - {{ doc }}</a><br>{% endfor %}
                                    {% else %}
                                    No Attachment
                                    {% endif %}
                                    {% endif %}
                                </div>
                            </div>

                            {% if hidden.assessments_swan_river_trust_board_feedback == "False" %}
                            <div class="col-lg-12">

                           	    <div class="col-lg-3">
                                    <label>Swan River Trust Board Feedback</label>
                                </div>
                                <div class="col-lg-9">
                                    {% if object.swan_river_trust_board_feedback.exists %}
				    {% for doc in object.swan_river_trust_board_feedback.all %}<a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">Feedback - {{ doc }}</a><br>{% endfor %}
                                    {% else %}
                                    No Attachment
                                    {% endif %}
                                </div>
                            </div>

                            {% endif %}

                            {% if hidden.assessments_new_draft == "False" %}
                                {% if object.document_new_draft %}
                                {% else %}
                                <div class="col-lg-12">

                                    <div class="col-lg-3">
                                        <label>Attach new version of Report</label>
                                    </div>
                                    <div class="col-lg-9">
                                        {% if object.document_new_draft %}
					<A HREF='{{ object.document_new_draft.file_url }}' target="new_tab_{{ object.document_new_draft.id }}">Assessment Report Version 2.PDF</A>
                                        {% else %}
                                        <A HREF="{% url 'application_update' object.pk %}">{% if may_update == "True" %}Attach File{% else %}No Attachment{% endif %}</A>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endif %}
                            {% endif %}

                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <label> Start Date</label>
                                </div>
                                <div class="col-lg-9">
                                    {{ object.assessment_start_date }}
                                </div>
                            </div>

                            {% if hidden.swanriverpostaladdress == "False" %}
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                       <label>To be posted to:</Label>
                                </div>
                                <div class="col-lg-9">
                                    <strong>
                                    Swan River Trust Board, attn Peter Secretary <BR>
                                    PO Box 3344<br>
                                    Perth WA 6000<br>
                                    </strong>
                                </div>
                             </div>
                             {% endif %}

                       {% if hidden.publish_publication_feedback_draft == "False" %}
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-3">
                                <label>Signed copy (signed by DG) of draft report</label>
                            </div>
                            <div class="col-lg-9">
				 FIX ME --  {{ object.document_draft_signed.all }}
                                {% if object.document_draft_signed.upload.name %}
				<A HREF='{{ object.document_draft_signed.file_url }}' target="new_tab_{{  object.document_draft_signed.id }}">Signed Document.pdf</A>
                                {% else %}
                                {% if may_update == "True" %}
                                <A HREF="{% url 'application_update' object.pk %}">Attach File</A>
                                {% else %}
                                No Attachment
                                {% endif %}
                                {% endif %}
                            </div>
                        </div>
						{% endif %}

                             <div class="col-lg-12">
                                 <div class="col-lg-3">
                                     <label> {{ workflow.assessment_extra.label }}</label>
                                 </div>
                                 <div class="col-lg-9">
                                     <strong style='{% if workflow.assessment_extra.color %}color: {{ workflow.assessment_extra.color }} {% endif %}' > {{ workflow.assessment_extra.description }} </strong>
                                 </div>
                              </div>
                        <div class="col-lg-12">
                        {% if may_update_assessment_draft == "True" %}
                        <a href="{% url 'application_update' object.pk %}" class="btn btn-primary" role="button">
                            Update
                        </a>

                        {% endif %}
                        </div>

                        {% endif %}

                        </div>
                        {% if hidden.assessments_draft_report_after_public_consultation == "False" %}
                         <BR>
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <label><u>Final Report after public consultation</u></label>
                            </div>
							{% if hidden.reportandmemoprint == "False" %}
							 <div class="col-lg-12">
                                 <div class="col-lg-12">
                                     <label> Print the report and memo and send to Director General</label>
                                 </div>
                             </div>
							{% endif %}

                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    Final Report 
                                </div>
                                <div class="col-lg-9">
                                    {% if object.document_new_draft_v3.exists %}
				    {% for doc in object.document_new_draft_v3.all %}<a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}" >Assessment Report Version 3 - {{ doc }}</a><br>{% endfor %}
                                    {% else %}
                                    <A HREF="{% url 'application_update' object.pk %}">{% if may_update == "True" %}Attach File{% else %}No Attachment{% endif %}</A>
                                    {% endif %}
                                </div>

                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    Memo 2
                                </div>
                                <div class="col-lg-9">
			            FIX -- MEMO 2
                                    {% if object.document_memo.exists %}
				    {% for doc in object.document_memo.all %}<a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">Memo - {{ doc }}</a><br>{% endfor %}
                                    {% else %}
                                        <A HREF="{% url 'application_update' object.pk %}">{% if may_update == "True" %}Attach File{% else %}No Attachment{% endif %}</A>
                                    {% endif %}
                                 </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    Signed Final Report
                                </div>
                                <div class="col-lg-9">
                                    {% if object.document_final_signed.exists %}
                                    {% for doc in object.document_final_signed.all %}<a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">Memo - {{ doc }}</a><br>{% endfor %}
                                    {% else %}
                                        <A HREF="{% url 'application_update' object.pk %}">{% if may_update == "True" %}Attach File{% else %}No Attachment{% endif %}</A>
                                    {% endif %}
                                 </div>
                            </div>


                        </div>
                        {% endif %}

                        {% if hidden.assessments_determination_and_briefing_note == "False" %}

                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <label><u>Determination and Briefing Note</u></label>
                            </div>
							{% if hidden.finalreportdetermination == "False" %}
                             <div class="col-lg-12">
                                 <div class="col-lg-12">
                                     <label> Print the determination, breifing note and final report and send to the Director General</label>
                                 </div>
                             </div>
                            {% endif %}

                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    Determination
                                </div>
                                <div class="col-lg-9">
                                    {% if object.document_determination.exists %}
				    {% for doc in object.document_memo_exists.all %}<a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">Determination - {{ doc }}</a><br>{% endfor %}
                                    {% else %}
                                        <A HREF="{% url 'application_update' object.pk %}">{% if may_update == "True" %}Attach File{% else %}No Attachment{% endif %}</A>
                                    {% endif %}

                                </div>

                            </div>
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    Briefing Note
                                </div>
                                <div class="col-lg-9">
			            {% if object.document_briefing_note.exists %}
				    {% for doc in object.document_briefing_note.all %}<a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">Briefing - {{ doc }}</a><br>{% endfor %}
                                    {% else %}
                                        <A HREF="{% url 'application_update' object.pk %}">{% if may_update == "True" %}Attach File{% else %}No Attachment{% endif %}</A>
                                    {% endif %}
                                </div>

                            </div>


                        </div>
                        {% if may_update == "True" %}
                        <div class="col-lg-12">

                                <a class="btn btn-primary" role="button" href="{% url 'application_update' object.pk %}">{% if formcomponent.update.title %}{{ formcomponent.update.title }}{% else %} Update application{% endif %}</a>
                        </div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

