            <div class="card">
                    <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                            <div class="col-6">
                            Assessment
                            </div>
                            <div class="col-6 text-end">
                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box21-card-body" onclick=""></i>
                            </div>
                    </div> 
                    </div>
                    
                    <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                        <div class="card-body" id="box21-card-body">
                            <div class="row mb-3">
                              <div class="col-md-3 fw-bold">
                                <label>Start Date</label>
                              </div>
                              <div class="col-md-9">
                                {{ object.assessment_start_date }}
                              </div>
                            </div>
                          
                            <div class="row mb-3">
                              <div class="col-md-3 fw-bold">
                                <label>Expiry Date</label>
                              </div>
                              <div class="col-md-9">
                                {{ object.expire_date }}
                              </div>
                            </div>
                          
                            <div class="row mb-3">
                              <div class="col-md-3 fw-bold">
                                <label>Document Final</label>
                              </div>
                              <div class="col-md-9">
                                {% if object.document_final.exists %}
                                  {% for doc in object.document_final.all %}
                                    <div class="mb-1">
                                      <a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">{{ doc }}</a>
                                    </div>
                                  {% endfor %}
                                {% else %}
                                  No Attachments
                                {% endif %}
                              </div>
                            </div>
                          </div>                          
            </div>
            <br>
