<div class="card">
        <div class="card-header fw-bold h4" style="padding:30px;">
            <div class="row">
                <div class="col-6">
                        Other Information
                </div>
                <div class="col-6 text-end">
                    <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box34-card-body" onclick=""></i>
                </div>
        </div> 
        </div>
        
        <div class="collapse show {{ collapse.title }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
            <div class="card-body" id="box34-card-body">
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Prosposed commencement date</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.proposed_commence }}
                                </div>
                        </div>
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Prosposed end date</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.proposed_end }}
                                </div>
                        </div>
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Approximate cost</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.cost }}
                                </div>
                        </div>
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Riverbank project number (if applicable)</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.project_no }}
                                </div>
                        </div>
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Details of related permits</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.related_permits }}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

