            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Details of Proposed Development
                        </div>
                        <div class="col-6 text-end">
                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box30-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                <div class="collapse {{ collapse.details_of_proposed_development }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box30-card-body">
                        <div class="row mb-3">
                            <div class="col-md-3 fw-bold">
                                <label>Estimated cost of development (AU$)</label>
                            </div>
                            <div class="col-md-9">
                                {{ object.cost }}
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-md-3 fw-bold">
                                <label>Current use of land</label>
                            </div>
                            <div class="col-md-9">
                                {{ object.proposed_development_current_use_of_land }}
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-md-3 fw-bold">
                                <label>Proposed development</label>
                            </div>
                            <div class="col-md-9">
                                {{ object.proposed_development_description }}
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-md-3 fw-bold">
                                <label>Attach a full set of plans</label>
                            </div>
                            <div class="col-md-9">
                                {% if proposed_development_plans_list %}
                                    {% for doc in proposed_development_plans_list %}
                                        <div class="mb-1">
                                            <a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">{{ doc.path_short }}</a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    No Attachments
                                {% endif %}
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <br>


