        <div class="card">
            <div class="card-header fw-bold h4" style="padding:30px;">
            <div class="row">
                    <div class="col-6">
                        Deed
                    </div>
                    <div class="col-6 text-end">
                    <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box24-card-body" onclick=""></i>
                    </div>
            </div> 
            </div>
            
            <div class="collapse show {{ collapse.deed }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                <div class="card-body" id="box24-card-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-12">
                                Print <a href=''>this deed</a>, sign it and attach it to this application<BR>
                            </div>
                            <div class="col-lg-12">
				    <A HREF='{{ object.deed.file_url }}' target="new_tab_{{ object.deed.id }}">{{ deed_short }}</A>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

