{% extends "base_statdev.html" %}

{% block page_content_inner %}

<div class="card">
    <div class="card-header fw-bold h4" style="padding:30px;">
        <div class="row">
            <div class="col-6">
               Application Flows
            </div>
            <div class="col-6 text-end">
                  <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box5-card-body" onclick=""></i>
            </div>
      </div> 
    </div>

    <div class="collapse show" id="company_details_collapse" role="tabpanel" aria-labelledby="company_details_heading">
        <div class="card-body" id="box5-card-body">
            {% for at in application_choices %}
                  <A href='{% url 'application_flows_routes' at.0 %}'>{{ at.1 }}</A> (<A href='{% url 'application_flow_diagrams' at.0 %}'>Flow</A>)<BR>
	    {% endfor %} 
        </div>
    </div>
</div>

{% endblock %}
