<div class="card">
	<div class="card-header fw-bold h4" style="padding:30px;">
		<div class="row">
			<div class="col-6">
				  Conditions
			</div>
			<div class="col-6 text-end">
				  <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box23-card-body" onclick=""></i>
			</div>
	  </div> 
	</div>
	<div class="collapse show {{ collapse.title }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
		<div class="card-body" id="box23-card-body">
            <div id='conditions_table'>
	     {% include "applications/application_conditions_table.html" %}
	    </div>
            {% if workflow_actions or condactions %}
                {% if may_create_condition == "True" %}
		   {% if mode == 'update' %}
                   <button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm('{% url 'condition_create' object.pk %}','Add Condition');" type="button">Add Condition/Advice</button> 
		   {% endif %}
                {% endif %}
            {% endif %}
	</div>
	</div>
</div>
<br>
