<div class="card mb-4">
    <div class="card-header">
        <h3 class="card-title">Submission</h3>
    </div>
    <div class="card-body">
        <h4>Submitted by:</h4>
        <p>
            {% if applicant.legal_first_name %}
                {{ applicant.legal_first_name }} {{ applicant.legal_last_name }}
            {% else %}
                {{ applicant.email }}
            {% endif %}
        </p>

        {% if object.organisation %}
            <h4>On behalf of:</h4>
            <p>{{ object.organisation.name }}</p>
        {% endif %}

        {% if object.state != object.APP_STATE_CHOICES.draft %}
            <h4>Lodged on:</h4>
            <p>{{ object.submit_date|date:"d-M-Y" }}</p>
        {% endif %}
    </div>
</div>
