
{% block page_content_inner %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}?ver={{ GIT_COMMIT_HASH }}" />

<div class="container-fluid">
    <div class="row">
        <h1>View Feedback for application id {{ object.application.id }}</h1>
        <br />
    </div>
    <!-- Action panel start -->


    <div class="card-body">
      <div class="row mb-3">
          <div class="col-lg-3 fw-bold">
              <label>Name</label>
          </div>
          <div class="col-lg-9">
              {{ object.name }}
          </div>
      </div>
  
      <div class="row mb-3">
          <div class="col-lg-3 fw-bold">
              <label>Address</label>
          </div>
          <div class="col-lg-9">
              {{ object.address }}
          </div>
      </div>
  
      <div class="row mb-3">
          <div class="col-lg-3 fw-bold">
              <label>Suburb</label>
          </div>
          <div class="col-lg-9">
              {{ object.suburb }}
          </div>
      </div>
  
      <div class="row mb-3">
          <div class="col-lg-3 fw-bold">
              <label>State</label>
          </div>
          <div class="col-lg-9">
              {{ object.state }}
          </div>
      </div>
  
      <div class="row mb-3">
          <div class="col-lg-3 fw-bold">
              <label>Postcode</label>
          </div>
          <div class="col-lg-9">
              {{ object.postcode }}
          </div>
      </div>
  
      <div class="row mb-3">
          <div class="col-lg-3 fw-bold">
              <label>Phone</label>
          </div>
          <div class="col-lg-9">
              {{ object.phone }}
          </div>
      </div>
  
      <div class="row mb-3">
          <div class="col-lg-3 fw-bold">
              <label>Email</label>
          </div>
          <div class="col-lg-9">
              {{ object.email }}
          </div>
      </div>
  
      <div class="row mb-3">
          <div class="col-lg-3 fw-bold">
              <label>Comments</label>
          </div>
          <div class="col-lg-9">
              {{ object.comments }}
          </div>
      </div>
  
      <div class="row mb-3">
          <div class="col-lg-3 fw-bold">
              <label>Attachments</label>
          </div>
          <div class="col-lg-9">
              {% if object.records %}
                  {% for doc in object.records.all %}
                      <div class="mb-1">
                          <a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">{{ doc.upload }}</a>
                      </div>
                  {% endfor %}
              {% else %}
                  No Attachments
              {% endif %}
          </div>
      </div>
  </div>
  
{% endblock %}
