                        <table class="table table-bordered table-striped">
                                <thead>
                                        <tr>
                                                <th>Cond No.</th>
                                                <th>Condition</th>
						<th>Advise No.</th>
						<th>Advise</th>
                                                <th>Recur Pattern</th>
                                                <th>Recur Freq</th>
                                                <th>Due Date</th>
                                                <th>Actions</th>
                                        </tr>
                                </thead>
                                <tbody>
                                        {% for cond in object.condition_set.all %}
                                        <tr>
                                                <td>{{ cond.condition_no }}</td>
						<td>{{ cond.condition }}</td>
						<td>{{ cond.advise_no }}</td>
						<td>{{ cond.advise }}</td>
                                                <td>{{ cond.get_recur_pattern_display }}</td>
                                                <td>{{ cond.recur_freq }}</td>
                                                <td>{{ cond.due_date|date:"d-M-Y" }}</td>
						<td> 
                                                    {% if workflow_actions or condactions %}
                                                        {% if may_update_condition == "True" %}
							                      {% if mode == 'update' %}
                                                                                <button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm('{% url 'condition_update' cond.pk %}','Update Condition');" type="button">Update</button>
                                                                                <button class="btn btn-danger btn-sm" onclick="django_ajax_form.OpenForm('{% url 'condition_delete' cond.pk %}','Delete Condition');" type="button">Delete</button>
                                                                               {% endif %}
                                                            {% if condition_accept %}

                                                            {% if may_accept_condition and cond.status == cond.CONDITION_STATUS_CHOICES.proposed %}
							            {% if mode == 'update' %}
                                                                    <button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm('{% url 'condition_update' cond.pk 'apply' %}','Apply Condition');" type="button">Apply</button>
                                                                    <button class="btn btn-primary btn-sm" role="button" onclick="django_ajax_form.OpenForm('{% url 'condition_update' cond.pk 'apply' %}','Apply Condition');">Apply</button>
                                                                    <button class="btn btn-danger btn-sm" role="button" onclick="django_ajax_form.OpenForm('{% url 'condition_update' cond.pk 'reject' %}','Reject Condition');">Reject</button>
								    {% endif %}
                                                            {% else %}
 
                                                                     {% if cond.status == cond.CONDITION_STATUS_CHOICES.applied %}
                                                                                {% if mode == 'update' %}
	                                         				<button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm('{% url 'condition_update' cond.pk %}','Update Condition');" type="button">Update</button>
                                          		                        <button class="btn btn-danger btn-sm" onclick="django_ajax_form.OpenForm('{% url 'condition_delete' cond.pk %}','Delete Condition');" type="button">Delete</button>
                                                                                {% endif %}
                                                                   
                                                                     {% endif %}
                                                        {% endif %}
                                                        {% endif %}
                                                        {% endif %}
                                                    {% endif %}

                                                    {% if object.state == 14 %}
                                                                 {% if admin_staff == True %}
                                                                 {% if cond.suspend == True %}
                                                                           <button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm('{% url 'condition_change_suspension' cond.pk 'unsuspend' %}','Unsuspend Condition');" type="button">Unsuspend</button>
								 {% else %}
                                                                           <button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm('{% url 'condition_change_suspension' cond.pk 'suspend' %}','Suspend Condition');" type="button">Suspend</button>
								 {% endif %}
								 {% endif %}
						    {% endif %}
 

                                                </td>
                                        </tr>
                                        {% endfor %}
                        </table>
