        <div class="card">
            <div class="card-header fw-bold h4" style="padding:30px;">
            <div class="row">
                    <div class="col-6">
                    Certificate of Title Information
                    </div>
                    <div class="col-6 text-end">
                    <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box22-card-body" onclick=""></i>
                    </div>
            </div> 
            </div>
            
            <div class="collapse show {{ collapse.certificate_commerical_acts_and_activities }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                <div class="card-body" id="box22-card-body">
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <label class="fw-bold">Certificate of Title Volume</label>
                            <div>{{ certificate_of_title_volume }}</div>
                        </div>
                        <div class="col-lg-4">
                            <label class="fw-bold">Folio</label>
                            <div>{{ folio }}</div>
                        </div>
                        <div class="col-lg-4">
                            <label class="fw-bold">Diagram / Plan / Deposit Number</label>
                            <div>{{ diagram_plan_deposit_number }}</div>
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <label class="fw-bold">Subject Lot Lot Number</label>
                            <div>{{ lot }}</div>
                        </div>
                        <div class="col-lg-8">
                            <label class="fw-bold">Location</label>
                            <div>{{ location }}</div>
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <label class="fw-bold">Reserve Number</label>
                            <div class="col-lg-4">{{ reserve_number }}</div>
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <label class="fw-bold">Street Number &amp; Name</label>
                            <div class="col-lg-8">{{ street_number_and_name }}</div>
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <label class="fw-bold">Town / Suburb</label>
                            <div class="col-lg-4">{{ town_suburb }}</div>
                        </div>
                    </div>
                
                    <div class="row mb-3">
                        <div class="col-lg-12">
                            <label class="fw-bold">Nearest road intersection</label>
                            <div class="col-lg-8">{{ nearest_road_intersection }}</div>
                        </div>
                    </div>
                </div>
                
                </div>
            </div>
            <br>

