
{% if allow_overide_access == True %}
<div style='display:nonei'>
    <div class='col-lg-12 col-lg-12 col-sm-12'>
         <div class='col-lg-4 col-lg-4 col-sm-12'>
         Price Override
    
         </div>
    </div>
    <div class='col-lg-12 col-lg-12 col-sm-12'>
         <input type="checkbox" id='override_checkbox' name="override_checkbox" onclick="togglePriceOverRide();"> Override Price
    </div>
    <div class='col-lg-12 col-lg-12 col-sm-12' style='display:none' id='price_override_box'>
    
          <div class='col-lg-4 col-lg-4 col-sm-12'>
                <div>
                      <div class="form-group" >
                                  <label>Override Amount:</label> 
                                  <div class="input-group"><span class="input-group-addon">AUD $</span> 
                                       <input type="number" name="overridePrice" step="0.01" class="form-control">
                                  </div>
                      </div> 
                      <div id="override-container" class="form-group">
                                <label>Reason:</label>
 
                                <select name="overrideReason" id="overrideReason" class="overrideReason form-control select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                          <option value="">None</option>
                                          {% for o in override_reasons %}
                                                 <option value="{{ o.id }}">{{ o.text }}</option>
                                          {% endfor %}
                                 </select>
                                 <span class="select2 select2-container select2-container--default select2-container--below" dir="ltr" style="width: 100%;">
                                 <span class="selection">
                                         <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-overrideReason-container">
                                              <span class="select2-selection__rendered" id="select2-overrideReason-container" title="None">None</span>
                                              <span class="select2-selection__arrow" role="presentation">
                                                   <b role="presentation"></b>
                                              </span>
                                         </span>
                                 </span>
                                 <span class="dropdown-wrapper" aria-hidden="true"></span>
                                 </span>
                      </div>
                      <div class="form-group">
                                 <label>Details:</label> 
                                 <textarea name="overrideDetail" id="overrideDetail" class="form-control" style="width: 100%; resize: none;"></textarea>
                      </div> 
                      <p class="text-muted" style="color: red; font-weight: bold;">
                           Note, these details will show on the customer invoice.
                      </p>
                </div>
    </div>
</div>
<script>

function togglePriceOverRide() { 
    var checked = $("#override_checkbox").is(":checked");
    if (checked == true) {
       $('#price_override_box').show();
    } else {
       $('#price_override_box').hide();

    }
}


</script>
{% endif %}
