<!-- Other Documents panel -->
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Other documents
                        </div>
                        <div class="col-6 text-end">
                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box33-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                
                <div class="collapse show {{ collapse.other_relevant_documents }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box33-card-body">
                         <div class="fluid-container">

                    <div class ="row">
                        <div class="col-xs-12">
                            <h4>Certificate of survey:</h4>
                            {% if object.cert_survey %}
			    <p><a href="{{ object.cert_survey.file_url }}" target="new_tab_{{ object.cert_survey.id }}">{{ object.cert_survey }}</a></p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            <h4>Public liability insurance certificate:</h4>
                            {% if object.cert_public_liability_insurance %}
			    <p><a href="{{ object.cert_public_liability_insurance.file_url }}"  target="new_tab_{{ object.cert_public_liability_insurance.id }}">{{ object.cert_public_liability_insurance }}</a></p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            <h4>Risk management plan (if available):</h4>
                            {% if object.risk_mgmt_plan %}
			    <p><a href="{{ object.risk_mgmt_plan.file_url }}" target="new_tab_{{ object.risk_mgmt_plan.id }}">{{ object.risk_mgmt_plan }}</a></p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            <h4>Safety management procedures (if available):</h4>
                            {% if object.safety_mgmt_procedures %}
			    <p><a href="{{ object.safety_mgmt_procedures.file_url }}" target="new_tab_{{ object.safety_mgmt_procedures.id }}">{{ object.safety_mgmt_procedures }}</a></p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            <h4>Brochures, itineraries or advertisements (if applicable):</h4>
                            {% if object.brochures_itineries_adverts.exists %}
			    <p>{% for doc in object.brochures_itineries_adverts.all %}<a href="{{ doc.file_url }}"  target="new_tab_{{ doc.id }}">{{ doc }}</a><br>{% endfor %}</p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            {% comment %}
                            <h4>Other relevant supporting documentation (if available)</h4>
                            {% if other_supporting_docs.exists %}
                            <p>{% for doc in object.other_supporting_docs.all %}
			    <a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">{{ doc }}</a><br>
                            {% endfor %}</p>
                            {% else %}
                            <p>None</p>
                            {% endif %}
                            {% endcomment %}
                        </div>
                    </div>
                </div>
                </div>
                </div>
       </div>
       <br>
