<!-- Vessel / Craft Panel -->
<div class="card">
    <div class="card-header fw-bold h4" style="padding:30px;">
        <div class="row">
            <div class="col-6">
                Vessel and Craft Details
            </div>
            <div class="col-6 text-end">
                  <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box9-card-body" onclick=""></i>
            </div>
      </div> 
    </div>
    <div class="collapse show {{ collapse.proposed_activities}}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
        <div class="card-body" id="box9-card-body">
            <div id='vessels_table'>
                {% include "applications/application_vessels_table.html" %}
                </div>
                
                {% if may_update_vessels_list == "True"  %}
                        <button class="btn btn-primary btn-sm" onclick="django_ajax_form.OpenForm('{% url 'application_add_vessel' object.pk %}','Add New Vessel');" type='button'>Add new vessel / craft</button>
                {% endif %}
        </div>
    </div>
<br>



</div>
<br>

