            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Landowner Consent
                        </div>
                        <div class="col-6 text-end">
                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box31-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                <div class="collapse show {{ collapse.landowner_consent }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box31-card-body">
                        <div class="row mb-3">
                            <div class="col-12">
                                <p>
                                    Print <a href="">this document</a> and have it signed by each landowner (or body responsible for management).<br><br>
                                    <label class="fw-bold">Attach signed documents to this application.</label>
                                </p>
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-md-3 fw-bold">
                                <label>Attachments</label>
                            </div>
                            <div class="col-md-9">
                                {% if land_owner_consent_list %}
                                    {% for doc in land_owner_consent_list %}
                                        <div class="mb-1">
                                            <a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">{{ doc.path_short }}</a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    No Attachments Added
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
        </div>
</div>
<br>
