<script>

$(document).ready(function () {
    // Initial visibility for 'beverage'
    if ($("input[name=beverage]:checked").val() === 'True') {
        $('#div_id_liquor_licence').show();
    } else {
        $('#div_id_liquor_licence').hide();
    }

    // Initial visibility for 'jetty_dot_approval'
    if ($("input[name=jetty_dot_approval]:checked").val() === 'True') {
        $('#div_id_jetty_dot_approval_expiry').show();
    } else {
        $('#div_id_jetty_dot_approval_expiry').hide();
    }

    // Initial visibility for 'vessel_or_craft_details'
    var vesselValue = $("input[name=vessel_or_craft_details]:checked").val();
    if (vesselValue === '3') {
        $('#box_crafts_collapse').hide();
        $('#vessel_and_crafts_option').show();
    } else if (vesselValue === '2') {
        $('#vessel_and_crafts_option').hide();
        $('#box_crafts_collapse').show();
    } else {
        $('#box_crafts_collapse').hide();
        $('#vessel_and_crafts_option').hide();
    }

    // Click handlers
    $("input[name=beverage]").click(function () {
        if (this.value === 'True') {
            $('#div_id_liquor_licence').show();
        } else {
            $('#div_id_liquor_licence').hide();
        }
    });

    $("input[name=jetty_dot_approval]").click(function () {
        if (this.value === 'True') {
            $('#div_id_jetty_dot_approval_expiry').show();
        } else {
            $('#div_id_jetty_dot_approval_expiry').hide();
        }
    });

    $("input[name=vessel_or_craft_details]").click(function () {
        var value = this.value;
        if (value === '3') {
            $('#box_crafts_collapse').hide();
            $('#vessel_and_crafts_option').show();
        } else if (value === '2') {
            $('#vessel_and_crafts_option').hide();
            $('#box_crafts_collapse').show();
        } else {
            $('#box_crafts_collapse').hide();
            $('#vessel_and_crafts_option').hide();
        }
    });
});


	function loadForm() { 

               $.ajax({
	            url: '{% url 'application_vessel_table' object.pk %}',
	            success: function(data) {
	        	  $('#vessels_table').html(data);
                    }
	       });
               $.ajax({
                    url: '{% url 'application_refer_table' object.pk %}',
                    success: function(data) {
                          console.log('Referral Refresh');
                          $('#referrals_table').html(data);
                    }
               });

               $.ajax({
                    url: '{% url 'application_conditions_table' object.pk %}',
                    async: false,
                    success: function(data) {
                          $('#conditions_table').html(data);
                    }
               });


	}


</script>
