{% extends "base_statdev.html" %}

{% block page_content_inner %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}?ver={{ GIT_COMMIT_HASH }}" />

<div class="container-fluid">

    <!-- Action panel start -->
    <div class="row">
        <!-- remove all above to beginning of this tag if everything been moved -->
        <div class="col-sm-12 col-md-12 col-lg-12">

        <div class="col-sm-12 col-md-12 col-lg-12">
            <!-- Conditions -->
            <div class="card">
                <div class="card-body" id="conditions_collapse">
                  <div class="mb-4">
                    <label class="fw-bold">Your compliance has been successfully submitted</label>
                  </div>
              
                  <div class="row mb-3">
                    <div class="col-md-3 fw-bold">Compliance</div>
                    <div class="col-md-9">CO-{{ object.id }}</div>
                  </div>
              
                  <div class="row mb-3">
                    <div class="col-md-3 fw-bold">Date/Time</div>
                    <div class="col-md-9">{{ object.submit_date }}</div>
                  </div>
              
                  <div class="mb-3">
                    <p class="mb-2">Thank you for your submission.</p>
                  </div>
              
                  <div class="mb-3">
                    <p class="mb-2">Your submission will be provided to an officer to gauge compliance of this condition.</p>
                  </div>
              
                  <div class="mb-3">
                    <p>You will be notified by email once your submission has been reviewed and/or if further action is required.</p>
                  </div>
                </div>
              </div>
              
</div>
{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script>
$(function() {
    $('.collapse').on('shown.bs.collapse', function() {
        $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
    }).on('hidden.bs.collapse', function() {
        $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
    });
});
</script>
{% endblock extra_js %}
