{% extends "base_statdev.html" %}

{% block page_content_inner %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}?ver={{ GIT_COMMIT_HASH }}" />

<div class="container-fluid">
    <div class="row">
        <h1>Clearance of Condition - {{ object.pk }}</h1>
        <br/>
    </div>
    <!-- Action panel start -->
    <div class="row">
        <!--- remove everything eblow this tag to the end tag if everything has been moved -->
        <div class="col-sm-4 col-md-3 col-lg-2">
            <div class="card">
                <div class="card-header">
                  <h5 class="card-title mb-0">Workflow</h5>
                </div>
                <div class="card-body">
                  <h6 class="fw-bold">Actions</h6>
                  <ul class="mb-3">
                    {% if object.status == 9 or object.status == 5 or object.status == 6 %}
                      <li>
                        <a href="{% url 'compliance_assign_person' object.pk %}">
                          {% if object.assignee is None %}Assign{% else %}Re-Assign{% endif %}
                        </a>
                      </li>
                    {% endif %}
                  </ul>
              
                  <h6 class="fw-bold">Status:</h6>
                  <p>{{ object.get_status_display }}</p>
              
                  <h6 class="fw-bold">Assigned to:</h6>
                  {% if assignee %}
                    <p>
                      {% if assignee.legal_first_name %}
                        {{ assignee.legal_first_name }} {{ assignee.legal_last_name }}
                      {% else %}
                        {{ assignee.email }}
                      {% endif %}
                    </p>
                  {% else %}
                    <p>--</p>
                  {% endif %}
                </div>
              </div>
              
              <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Submission</h5>
                </div>
                <div class="card-body">
                    <h6>Submitted by:</h6>
                    <p>
                        {% if submitted_by.legal_first_name %}
                            {{ submitted_by.legal_first_name }} {{ submitted_by.legal_last_name }}
                        {% else %}
                            {{ submitted_by.email }}
                        {% endif %}
                    </p>
                    <h6>Lodged on</h6>
                    <p>{{ object.submit_date|date:"d-M-Y" }}</p>
                    {% comment %}
                    <br />
                    <h6>Lodgement Date Action</h6>
                    {% endcomment %}
                </div>
            </div>
            
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title mb-0">Actions</h5>
                </div>
                <div class="card-body">
                    <h6>Communications</h6>
                    <p>
                        <a href="{% url 'approvals_comms' object.approval_id %}">Show</a> |
                        <a href="{% url 'approvals_comms_create' object.approval_id %}">Add Entry</a>
                    </p>
                    <hr />
                    <h6>Actions</h6>
                    <ul>
                        <li><a href="{% url 'compliance_actions' object.pk %}">Actions log</a></li>
                    </ul>
                </div>
            
                <div class="card-body d-none">
                    <h6>Communications</h6>
                    <p>
                        <a href="{% url 'compliance_comms' object.pk %}">Show</a> |
                        <a href="{% url 'compliance_comms_create' object.pk %}">Add Entry</a>
                    </p>
                    <hr />
                    <h6>Actions</h6>
                    <ul>
                        {% if admin_staff == True %}
                            <li><a href="{% url 'compliance_actions' object.pk %}">Actions log</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            <br>
            
        </div>
        <!-- remove all above to beginning of this tag if everything been moved -->
        <div class="col-sm-8 col-md-9 col-lg-10">

        <div class="col-sm-12 col-md-12 col-lg-12">
            <!-- Conditions -->
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Clearance of Condition
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box1-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                  
                <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box1-card-body">
                        <div class="container-fluid">
                            {% if conditions %} 
                            {% for c in conditions %}
                                {% if c.status == 1 %}
                                {% endif %}
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <strong>Condition ({{ c.id }})</strong>
                                    </div>
                                    <div class="col-12">
                                        {{ c.condition.condition }}
                                        <br><br>
                                    </div>
                                    <div class="col-12">
                                        <strong>Comments</strong>
                                    </div>
                                    <div class="col-12">
                                        {% if c.comments %}
                                            {{ c.comments }}
                                        {% else %}
                                            <em>Please provide comment</em>
                                        {% endif %}
                                    </div>
                                    <div class="col-12 mt-2">
                                        {% if object.status in [2, 7, 8, 9] %}
                                            <a href="{% url 'compliance_condition_update' c.id %}" class="btn btn-primary btn-sm" role="button">Add Clearance Condition</a>
                                            <br>
                                            <hr>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    
                        <div class="row mt-4">
                            <div class="col-lg-2 col-md-3 col-sm-12">
                                <label>Supporting Documents</label>
                            </div>
                            <div class="col-lg-10 col-md-9 col-sm-12">
                                {% for c in conditions %}
                                    {% for d in c.records.all %}
                                        <img src="/static/images/pdf.png" alt="PDF icon"> &nbsp;
                                        <a href="{{ d.file_url }}" target="new_tab_{{ doc.id }}">{{ d }}</a><br>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <br>
            </div>

            {% if object.status == 4 %}
            <div class="col-sm-12 col-md-12 col-lg-12">
            <!-- Conditions -->
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Assessment
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box2-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                  
                <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box2-card-body">
                        <div class="row mb-3">
                            <div class="col-md-3 col-sm-12">
                                <label>Assessment Result</label>
                            </div>
                            <div class="col-md-9 col-sm-12">
                                Approved
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-md-3 col-sm-12">
                                <label>Assessed By</label>
                            </div>
                            <div class="col-md-9 col-sm-12">
                                {{ assessed_by.legal_first_name }} {{ assessed_by.legal_last_name }}
                            </div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-md-3 col-sm-12">
                                <label>Date</label>
                            </div>
                            <div class="col-md-9 col-sm-12">
                                {{ object.assessed_date }}
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <br>
            </div>
            {% elif object.status == 2 or object.status == 8 or object.status == 7 %}
            <div class="col-sm-12 col-md-12 col-lg-12">
            <!-- Conditions -->
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Action
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box3-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                  
                <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box3-card-body">
                    	<a href="{% url "compliance_condition_submit" object.pk %}" class="btn btn-primary btn-sm" role="button">Submit</a>
                    </div>
                </div>
            </div>
            <br>
            </div>
            {% elif object.status == 9 or object.status == 5 %}
            {% if admin_staff == True %}
                    {% if assignee.ledger_id == request.user.id %}
                    
            <div class="col-sm-12 col-md-12 col-lg-12">
            <!-- Conditions -->
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Action
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box4-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                  
                <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box4-card-body">
                        <a href="{% url "compliance_condition_staff" object.pk 'approve' %}" class="btn btn-primary btn-sm" role="button">Approve</a>
                        <a href="{% url "compliance_condition_staff" object.pk 'manager'  %}" class="btn btn-primary btn-sm" role="button">Send to Manager</a>
                        <a href="{% url "compliance_condition_staff" object.pk 'holder' %}" class="btn btn-primary btn-sm" role="button">Return to Licence Holder</a>
                    </div>
                </div>
            </div>
            <br>
            </div>
                 {% endif %}
            {% endif %}
            {% elif object.status == 6 %}
                 {% if assignee.ledger_id == request.user.id %}
            <div class="col-sm-12 col-md-12 col-lg-12">
            <!-- Conditions -->
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Action
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box5-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                  
                <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box5-card-body">
                        <a href="{% url "compliance_condition_staff" object.pk 'approve' %}" class="btn btn-primary btn-sm" role="button">Approve</a>
                        <a href="{% url "compliance_condition_staff" object.pk 'assessor'  %}" class="btn btn-primary btn-sm" role="button">Send to Assesor</a>
                    </div>
                </div>
            </div>
            <br>
            </div>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script>
$(function() {
    $('.collapse').on('shown.bs.collapse', function() {
        $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
    }).on('hidden.bs.collapse', function() {
        $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
    });
});
</script>
{% endblock extra_js %}
