{% extends "base_statdev.html" %}
{% load crispy_forms_tags %}
{% load static %} 
{% block page_content_inner %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}?ver={{ GIT_COMMIT_HASH }}" />
<input type='hidden' value='2006' id='file_group' name='file_group'>
<input type='hidden' value='{{ object.id }}' id='file_group_ref_id' name='file_group_ref_id'>

<div class="row">   
<div class="col-sm-0 col-md-1 col-lg-2">
 &nbsp;
</div>
<div class="col-sm-12 col-md-9 col-lg-7">
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Compliance {{ object.get_app_type_display }} - {{ object.pk }}</div>
  <div class="panel-body">
       {% crispy form %} 
  </div>
</div>

</div>
</div>

{% endblock %}

