{% extends "base_statdev.html" %}
{% load static %}
{% block page_content_inner %}

<div class="card">
    <div class="card-header fw-bold h4" style="padding:30px;">
        <div class="row">
            <div class="col-6">
                Emergency Works
            </div>
            <div class="col-6 text-end">
                  <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box1-card-body" onclick=""></i>
            </div>
      </div> 
    </div>


    <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
        <div class="card-body" id="box1-card-body">
            <div class="row">
                <form action="" method="get" class="row g-3">
                    <input type="hidden" name="action" value="search">
                  
                    <!-- Holder -->
                    <div class="col-md-3">
                      <label for="id_applicant" class="form-label">Holder:</label>
                      <select class="form-select" id="id_applicant" name="applicant">
                        <option value="" selected>All</option>
                        {% for person in app_applicants_list|dictsort:'name' %}
                          <option value="{{ person.id }}" {% if applicant == person.id %}selected{% endif %}>{{ person.name }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  
                    <!-- Status -->
                    <div class="col-md-3">
                      <label for="id_appstatus" class="form-label">Status:</label>
                      <select class="form-select" id="id_appstatus" name="appstatus">
                        <option value="" selected>All</option>
                        {% for at in app_appstatus %}
                          <option value="{{ at.0 }}" {% if appstatus == at.0 %}selected{% endif %}>{{ at.1 }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  
                    <!-- Keyword -->
                    <div class="col-md-6">
                      <label for="search_field" class="form-label">Keyword:</label>
                      <input id="search_field" type="text" class="form-control" name="q" placeholder="Search..." value="{{ query_string }}">
                    </div>
                  
                    <!-- Buttons Row -->
                    <div class="col-md-6 d-flex align-items-end">
                      <button type="submit" name="search" class="btn btn-primary mt-3 mb-3">Search</button>
                    </div>
                    <div class="col-md-6 d-flex justify-content-end align-items-end">
                      <a class="btn btn-primary mt-3 mb-3" href="{% url 'application_create_ew' %}" role="button">Issue New</a>
                    </div>
                  </form>                                                    
            </div>

            <br>

            <div class="row">
                <div class="col-lg-12" >
                    <table id="application-table" class="table table-striped table-bordered align-middle">
                        <thead class="table-light">
                          <tr>
                            <th>Lodgement No.</th>
                            <th>Title</th>
                            <th>Holder</th>
                            <th>Status</th>
                            <th>Issue Date</th>
                            <th>Start Date</th>
                            <th>Expiry Date</th>
                            <th>Emergency Works</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for app_obj in app_list %}
                          <tr>
                            <td><a href="{% url 'application_detail' app_obj.app.pk %}">EW-{{ app_obj.app.pk }}</a></td>
                            <td>{{ app_obj.app.title }}</td>
                            <td>
                              {% if app_obj.app.organisation %}
                                {{ app_obj.app.organisation }}
                              {% else %}
                                {{ app_obj.applicant.legal_first_name }} {{ app_obj.applicant.legal_last_name }}
                              {% endif %}
                            </td>
                            <td>{{ app_obj.app.get_state_display }}</td>
                            <td>{{ app_obj.app.submit_date|date:"d-M-Y" }}</td>
                            <td>{{ app_obj.app.proposed_commence|date:"d-M-Y" }}</td>
                            <td>{{ app_obj.app.proposed_end|date:"d-M-Y" }}</td>
                            <td class="text-center">
                              <a href="{% url 'application_view_pdf' app_obj.app.pk %}">
                                <img src="{% static 'images/pdf.png' %}" alt="PDF">
                              </a>
                            </td>
                            <td>
                              <div class="dropdown">
                                <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" role="button" aria-expanded="false">Actions</a>
                                <ul class="dropdown-menu">
                                  {% if app_obj.app.state == 1 %}
                                    <li><a class="dropdown-item" href="{% url 'application_update' app_obj.app.pk %}">Process</a></li>
                                    {% if app_obj.app.assignee > 0 %}
                                      <li><a class="dropdown-item" href="{% url 'application_assign_person' app_obj.app.pk %}">Reassign</a></li>
                                    {% else %}
                                      <li><a class="dropdown-item" href="{% url 'application_assign_person' app_obj.app.pk %}">Assign</a></li>
                                    {% endif %}
                                  {% else %}
                                    <li><a class="dropdown-item" href="{% url 'application_detail' app_obj.app.pk %}">View</a></li>
                                  {% endif %}
                                </ul>
                              </div>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                      
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    function loadApprovalTable() {
      const dt = $('#application-table').DataTable({
        searching: false,
        paging: true,
        pageLength: 25,
        order: [[0, 'desc']],
        lengthMenu: [[10, 25, 50, -1], [10, 25, 50, 'All']],
        dom:
          '<"row mb-2"' +
            '<"col-md-6 d-flex align-items-center"l>' +
            '<"col-md-6 d-flex justify-content-end gap-2"B>' +
          '>' +
          'rt' +
          '<"row mt-2"' +
            '<"col-md-6 d-flex align-items-center"i>' +
            '<"col-md-6 d-flex justify-content-end"p>' +
          '>',
        buttons: [
          {
            extend: 'copy',
            className: 'btn btn-primary'
          },
          {
            extend: 'excelHtml5',
            filename: () => `Excel_${new Date().toISOString().slice(0, 10)}`,
            exportOptions: { orthogonal: 'exportxls', columns: ':not(:last-child)' },
            className: 'btn btn-primary'
          },
          {
            extend: 'csvHtml5',
            filename: () => `CSV_${new Date().toISOString().slice(0, 10)}`,
            exportOptions: { orthogonal: 'exportcsv', columns: ':not(:last-child)' },
            className: 'btn btn-primary'
          },
          {
            extend: 'pdfHtml5',
            filename: () => `PDF_${new Date().toISOString().slice(0, 10)}`,
            exportOptions: { orthogonal: 'exportpdf', columns: ':not(:last-child)' },
            orientation: 'landscape',
            pageSize: 'A4',
            className: 'btn btn-primary'
          },
          {
            extend: 'print',
            className: 'btn btn-primary'
          }
        ],
        columnDefs: [
          { type: 'natural-nohtml', targets: 0 },
          { type: 'date-dd-mmm-yyyy', targets: 4 },
          { type: 'date-dd-mmm-yyyy', targets: 5 },
          { type: 'date-dd-mmm-yyyy', targets: 6 },
          { orderable: false, targets: 8 }
        ]
      });
    
      // Optional: Add spacing and rounded corners to buttons
      $(dt.buttons().nodes()).addClass('me-2 mb-2 rounded');
    }
    
    document.addEventListener('DOMContentLoaded', loadApprovalTable);
</script>
    



{% endblock %}
