<div class="card">
    <div class="card-body">
      <form action="" method="get">
        <input type="hidden" name="searchaction" value="search">
        <div class="row g-3">
          <div class="col-lg-3">
            <label for="id_appstatus" class="form-label">Status:</label>
            <select class="form-select" id="id_appstatus" name="appstatus">
              <option value="" selected>All</option>
              {% for at in app_appstatus %}
                <option value="{{ at.0 }}" {% if appstatus == at.0 %}selected{% endif %}>{{ at.1 }}</option>
              {% endfor %}
            </select>
          </div>
  
          <div class="col-lg-6">
            <label for="search_field" class="form-label">Keyword:</label>
            <input id="search_field" type="text" class="form-control" name="q" placeholder="Search..." value="{{ query_string }}">
          </div>
  
          <div class="col-lg-3 d-flex align-items-end">
            <input type="submit" name="search" value="Search" class="btn btn-primary">
          </div>
        </div>
      </form>
  
      <hr class="my-4">
  
      <div class="table-responsive">
        <table id="application-table" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Lodgement no.</th>
              <th>Type</th>
              <th>Title</th>
              <th>Applicant</th>
              <th>Status</th>
              <th>Lodged on</th>
              <th>Assignee</th>
              <th>Payment status</th>
            </tr>
          </thead>
          <tbody>
            {% for app_obj in app_list %}
              <tr>
                <td><a href="">WO-{{ app_obj.app.pk }}</a></td>
                <td>{{ app_obj.app.get_app_type_display }}</td>
                <td>{{ app_obj.app.title }}</td>
                <td>
                  {% if app_obj.app.organisation %}
                    {{ app_obj.app.organisation }}
                  {% else %}
                    assignee
                  {% endif %}
                </td>
                <td>{{ app_obj.app.get_state_display }}</td>
                <td>{{ app_obj.app.submit_date|date:"d-M-Y" }}</td>
                <td>{{ app_obj.assignee.legal_first_name }} {{ app_obj.assignee.legal_last_name }}</td>
                <td></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>  


    <script>
function loadTable() {
    $('#application-table').dataTable({searching: false, paging: true, "pageLength": 10});
}
window.onload= function() {
    loadTable();
}
    </script>

