{% extends "base_statdev.html" %}

{% block page_content_inner %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}?ver={{ GIT_COMMIT_HASH }}" />

<div class="container-fluid">
    <div class="row">
        <h1>Organisation Access Request For "{{ object.name }}" - Request: {{ object.pk }}</h1>
        <br/>
    </div>
{% if object.status == 2 %}
<div class="alert alert-success" role="alert">
  <strong>Approved</strong> This organisation is approved
</div>
{% elif object.status == 3 %}

<div class="alert alert-danger" role="alert">
  <strong>Declined</strong> This organisation is declined
</div>

{% elif object.status == 1 %}

<div class="alert alert-info" role="alert">
  <strong>Pending</strong> This organisation is pending approval
</div>

{% endif %}
    <!-- Action panel start -->
    <div class="row">
        {% include "applications/organisation_request_side_menu.html" %}

        <!-- Main panel start -->
        <div class="col-sm-8 col-md-9 col-lg-9">
            <!-- Holder panel -->
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Company Access Request 
                        </div>
                        <div class="col-6 text-end">
                              <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box37-card-body" onclick=""></i>
                        </div>
                  </div> 
                </div>
                  
                <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box37-card-body">
                        <div class="container-fluid">
                          <div class="row mb-3">
                            <div class="col-md-4 fw-bold">Company</div>
                            <div class="col-md-8">{{ object.name }}</div>
                          </div>
                      
                          <div class="row mb-3">
                            <div class="col-md-4 fw-bold">ABN</div>
                            <div class="col-md-8">{{ object.abn }}</div>
                          </div>
                      
                          <div class="row mb-3">
                            <div class="col-md-4 fw-bold">Certificate of Incorporation</div>
                            <div class="col-md-8">
                              <a href="{{ object.identification.path }}">{{ object.identification }}</a>
                            </div>
                          </div>
                      
                          <div class="row mb-3">
                            <div class="col-md-4 fw-bold">Phone (home)</div>
                            <div class="col-md-8">{{ object.email_user.phone_number }}</div>
                          </div>
                      
                          <div class="row mb-3" style="display: none;">
                            <div class="col-md-4 fw-bold">Phone (work)</div>
                            <div class="col-md-8"></div>
                          </div>
                      
                          <div class="row mb-3">
                            <div class="col-md-4 fw-bold">Mobile</div>
                            <div class="col-md-8">{{ object.email_user.mobile_number }}</div>
                          </div>
                      
                          <div class="row mb-3">
                            <div class="col-md-4 fw-bold">Email</div>
                            <div class="col-md-8">{{ object.email_user.email }}</div>
                          </div>
                        </div>
                      </div>                      
                </div>
            </div>

	{% if object.status == 1  %}
            <a class="btn btn-primary btn-sm" role="button" href="{% url "organisation_access_requests_change" object.pk 'approve' %}">Approve</a> <a class="btn btn-primary btn-sm" role="button" href="{% url "organisation_access_requests_change" object.pk 'decline' %}">Decline</a>
	{% endif %}
        </div>
    </div>
</div>


{% endblock page_content_inner %}

{% block extra_js %}
{{ block.super }}
<script>
    $(function() {
        $('.collapse').on('shown.bs.collapse', function() {
            $(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
        }).on('hidden.bs.collapse', function() {
            $(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
        });
    });
</script>
{% endblock extra_js %}
