<div class="col-12 col-md-3 col-lg-2">
    {% if admin_staff == True %}
      <div class="card">
        <div class="card-header">
          <h5 class="mb-0">Actions</h5>
        </div>
        <div class="card-body">
          <h6>Communications</h6>
          <p>
            <a href="{% url 'organisation_comms' object.pk %}">Show</a> |
            <a href="{% url 'organisation_comms_create' object.pk %}">Add Entry</a>
          </p>
          <hr>
          <h6>Actions</h6>
          <ul class="list-unstyled mb-0">
            <li><a href="{% url 'organisation_actions' object.pk %}">Action Log</a></li>
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
  