<div class="card">
    <div class="card-body">
      <form action="" method="get">
        <div class="row g-3 align-items-center">
          <div class="col-sm-1 d-none d-sm-block">
            <label for="search_field" class="col-form-label">Search:</label>
          </div>
          <div class="col-12 col-sm-11 col-md-8">
            <input id="search_field" type="text" class="form-control" name="q" placeholder="Search..." value="{{ query_string }}">
          </div>
        </div>
      </form>
  
      <hr class="my-4">
  
      <div class="table-responsive">
        <table id="compliance-table" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>No.</th>
              <th>Type</th>
              <th>Approval Number</th>
              <th>Title</th>
              <th>Holder</th>
              <th>Status</th>
              <th>Due Date</th>
              <th>Assigned To</th>
            </tr>
          </thead>
          <tbody>
            {% for obj in compliance|dictsort:"due_date" %}
              <tr>
                <td>{{ obj.pk }}</td>
                <td>{{ obj.get_app_type_display }}</td>
                <td>
                  {% if obj.approval_id is None %}
                    None
                  {% else %}
                    <a href="{% url 'compliance_approval_detail' obj.approval_id %}">{{ obj.approval_id }}</a>
                  {% endif %}
                </td>
                <td>{{ obj.title }}</td>
                <td>{{ obj.applicant.legal_first_name }} {{ obj.applicant.legal_last_name }}</td>
                <td>{{ obj.get_status_display }}</td>
                <td>{{ obj.due_date|date:"d-M-Y" }}</td>
                <td>{{ obj.assignee }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

<script>
function loadTable() {
    $('#compliance-table').dataTable({searching: false, paging: true, "pageLength": 10});
}
window.onload= function() {
    loadTable();
}
</script>

