{% extends "base_statdev.html" %}
{% load static %}
{% block page_content_inner %}

<div class="card">
    <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
        <div class="card-body">

            <div class="row">
                <div class="col-6">
                    <h1>{{ object.legal_first_name }} {{ object.legal_last_name }}</h1>
                </div>

                <div class="col-6 d-flex justify-content-end align-items-center">
                    <a class="btn btn-primary" role="button"
                       href="{% url 'accounts-management-change' object.pk %}" target="_blank"
                       style="padding: 6px 16px; font-size: 1rem;">
                        Edit
                    </a>
                </div>
            
                     
                <div class="col-12">
                    <ul class="nav nav-tabs mb-3">
                        <li class="nav-item">
                            <a class="nav-link {{ nav_details }}" href="{% url 'person_details_actions' object.ledger_id.id 'personal' %}">Details</a>
                        </li>
                        {% if request.user.is_staff %}
                        <li class="nav-item">
                            <a class="nav-link {{ nav_other }}" href="{% url 'person_other_actions' object.ledger_id.id 'applications' %}">Other</a>
                        </li>
                        {% endif %}
                    </ul>
                    <br>
                    </div>
                    {% if nav_details == "active" %}
			{% include "applications/person_side_menu.html" %}
			<div class="col-sm-12 col-md-10 col-lg-10">

                <div class="col-12">
                    <ul class="nav nav-pills mb-3">
                        <li class="nav-item">
                            <a class="nav-link {{ nav_details_personal }}" href="{% url 'person_details_actions' object.ledger_id.id 'personal' %}">Personal Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ nav_details_identification }}" href="{% url 'person_details_actions' object.ledger_id.id 'identification' %}">Identification</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ nav_details_address }}" href="{% url 'person_details_actions' object.ledger_id.id 'address' %}">Address Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ nav_details_contactdetails }}" href="{% url 'person_details_actions' object.ledger_id.id 'contactdetails' %}">Contact Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ nav_details_companies }}" href="{% url 'person_details_actions' object.ledger_id.id 'companies' %}">Companies</a>
                        </li>
                    </ul>
                    <br>
                </div>
                

                    <div class="col-sm-12 col-md-12 col-lg-12">

                        {% if nav_details_personal == "active" %}
                        <div class="card">
                            <div class="card-header fw-bold h4" style="padding:30px;">
                                <div class="row">
                                    <div class="col-6">
                                        Personal Details
                                    </div>
                                    <div class="col-6 text-end">
                                          <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box1-card-body" onclick=""></i>
                                    </div>
                              </div> 
                            </div>

                            <div class="collapse show" id="company_details_collapse" role="tabpanel" aria-labelledby="company_details_heading">
                                <div class="card-body" id="box1-card-body">
                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <label class="form-label">Name</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{ object.legal_first_name }} {{ object.legal_last_name }}
                                        </div>
                                    </div>
                                
                                    <div class="row mb-3">
                                        <div class="col-md-3">
                                            <label class="form-label">Date of birth</label>
                                        </div>
                                        <div class="col-md-9">
                                            {{ object.legal_dob }}
                                        </div>
                                    </div>
                                
                                </div>
                                
                            </div>
                        </div>
                        {% elif nav_details_identification == "active" %}
                        <div class="card">
                            <div class="card-header fw-bold h4" style="padding:30px;">
                                <div class="row">
                                    <div class="col-6">
                                        Identification
                                    </div>
                                    <div class="col-6 text-end">
                                          <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box2-card-body" onclick=""></i>
                                    </div>
                              </div> 
                            </div>
                        
                            <div  class="collapse show" id="cert_incorp_collapse" aria-labelledby="cert_incorp_heading" role="tabpanel">
                                <div class="card-body" id=box2-card-body>
                                    {% if object.ledger_id.identification2_id %}
                                        <div class="row">
                                            <div class="col-md-5 col-lg-4">
                                                <a href="{{ LEDGER_UI_URL }}/ledger/account-management/{{ object.ledger_id.id }}/change/" target="_blank" id="accounts-management-change">
                                                    Remove &amp; Provide New ID <i class="fa fa-external-link" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <a href="{{ LEDGER_UI_URL }}/ledger/account-management/{{ object.ledger_id.id }}/change/" target="_blank" id="accounts-management-change">
                                            Add Identification <i class="fa fa-external-link" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        
                        {% elif nav_details_address == "active" %}
                        <div class="card">
                                <div class="card-header fw-bold h4" style="padding:30px;">
                                    <div class="row">
                                        <div class="col-6">
                                            Address Details
                                        </div>
                                        <div class="col-6 text-end">
                                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box5-card-body" onclick=""></i>
                                        </div>
                                    </div> 
                                </div>
                            <div class="collapse show" id="address_details_collapse" role="tabpanel" aria-labelledby="address_details_heading">
                                <div class="card-body" id="box5-card-body">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label class="form-label">Postal Address</label>
                                            </div>
                                            <div class="col-md-9">
                                                {{ postal_address.line1 }} {{ postal_address.line2 }} {{ postal_address.line3 }}
                                            </div>
                                        </div>
                        
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label class="form-label">Town/Suburb</label>
                                            </div>
                                            <div class="col-md-9">
                                                {{ postal_address.locality }}
                                            </div>
                                        </div>
                        
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label class="form-label">State</label>
                                            </div>
                                            <div class="col-md-9">
                                                {{ postal_address.state }}
                                            </div>
                                        </div>
                        
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label class="form-label">Postcode</label>
                                            </div>
                                            <div class="col-md-9">
                                                {{ postal_address.postcode }}
                                            </div>
                                        </div>
                        
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                <label class="form-label">Country</label>
                                            </div>
                                            <div class="col-md-9">
                                                {{ postal_address.country }}
                                            </div>
                                        </div>

                                </div>
                            </div>
                        </div>
                        
                    </div>

                    {% elif nav_details_contactdetails == "active" %}
                    <div class="card">
                        <div class="card-header fw-bold h4" style="padding:30px;">
                            <div class="row">
                                <div class="col-6">
                                    Contact Details
                                </div>
                                <div class="col-6 text-end">
                                      <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box3-card-body" onclick=""></i>
                                </div>
                          </div> 
                        </div>
                    
                        <div class="collapse show" id="company_details_collapse" role="tabpanel" aria-labelledby="company_details_heading">
                            <div class="card-body" id="box3-card-body">
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label class="form-label">Phone (home)</label>
                                    </div>
                                    <div class="col-md-9">
                                        {{ object.phone_number }}
                                    </div>
                                </div>
                    
                                <div class="row mb-3 d-none">
                                    <div class="col-md-3">
                                        <label class="form-label">Phone (work)</label>
                                    </div>
                                    <div class="col-md-9">
                                        None
                                    </div>
                                </div>
                    
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label class="form-label">Mobile</label>
                                    </div>
                                    <div class="col-md-9">
                                        {{ object.mobile_number }}
                                    </div>
                                </div>
                    
                                <div class="row mb-3">
                                    <div class="col-md-3">
                                        <label class="form-label">Email</label>
                                    </div>
                                    <div class="col-md-9">
                                        {{ object.email }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    

                    {% elif nav_details_companies == "active" %}
                    <div class="card">
                        <div class="card-header fw-bold h4" style="padding:30px;">
                            <div class="row">
                                <div class="col-6">
                                    Companies
                                </div>
                                <div class="col-6 text-end">
                                      <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box4-card-body" onclick=""></i>
                                </div>
                          </div> 
                        </div>

                        <div class="collapse show" id="company_details_collapse" role="tabpanel" aria-labelledby="company_details_heading">
                            <div class="card-body" id="box4-card-body">
                                {% if staff == False %}
                                <a class="btn btn-primary pull-right" href="{% url "company_create_link" object.pk "1" %}">New Company</a>
                                {% endif %}
                                {% if organisations|length > 0 %} 
                                {% for co in organisations %}
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <label><A HREF='{% url "organisation_details_actions" co.organisation.id "company" %}'>{{ co.organisation.name }}</A></label>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        {{ co.organisation.abn }}
                                    </div>
                                    <div class="col-sm-12 col-md-5 col-lg-5">
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                        You have no company linked
                                {% endif %}


                            </div>
                        </div>
                    </div>
                    {% endif %} 
                </div>

                {% elif nav_other == "active" %}
		{% include "applications/person_side_menu_applications.html" %}
        <div class="col-12 col-md-9 col-lg-10">
            <!-- Navigation Pills -->
            <div class="col-12">
              <ul class="nav nav-pills mb-3">
                <li class="nav-item">
                  <a class="nav-link {{ nav_other_applications }}" href="{% url 'person_other_actions' object.ledger_id.id 'applications' %}">
                    Applications
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {{ nav_other_approvals }}" href="{% url 'person_other_actions' object.ledger_id.id 'approvals' %}">
                    Approvals
                  </a>
                </li>
                <li class="nav-item" style="display:none;">
                  <a class="nav-link {{ nav_other_emergency }}" href="{% url 'person_other_actions' object.ledger_id.id 'emergency' %}">
                    Emergency Works
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link {{ nav_other_clearance }}" href="{% url 'person_other_actions' object.ledger_id.id 'clearance' %}">
                    Clearance of Conditions
                  </a>
                </li>
              </ul>
            </div>
          
            <!-- Content Section -->
            <div class="col-12">
              {% if nav_other_applications == 'active' %}
                {% include "applications/person_other_applications.html" %}
              {% elif nav_other_approvals == 'active' %}
                {% include "applications/person_other_approvals.html" %}
              {% elif nav_other_emergency == 'active' %}
                {% include "applications/person_other_emergency.html" %}
              {% elif nav_other_clearance == 'active' %}
                {% include "applications/person_other_clearance.html" %}
              {% endif %}
            </div>
          </div>          


                {% endif %}
                <p>
            </div>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}
