<div class="panel panel-default">
    <div class="panel-body">
        <form action="" method="get">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <div class="col-sm-12 col-lg-9">
                        <div class="col-sm-12 col-lg-12">
                            <label>Keyword:</label>
                        </div>
                        <div class="col-sm-12 col-lg-12">
                            <input id="search_field" type="text" class="form-control" name="q" placeholder="Search..." value="{{ query_string }}">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3">
                        <div class="col-sm-12 col-lg-12">
                            &nbsp;
                        </div>
                        <div class="col-sm-12 col-lg-12">
                            <input type="submit" name="search" value="Search" class="btn btn-primary btn-md" id="submit-id-save">
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <hr>
        <table id='compliance-table' class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>No.</th>
                    <th>Type</th>
                    <th>Approval Number</th>
                    <th>Title</th>
                    <th>Holder</th>
                    <th>Status</th>
                    <th>Due Date</th>
		    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {% for obj in compliance|dictsort:"due_date" %}
                <tr>
                    <td><a HREF='{% url 'compliance_approval_view_external' obj.pk %}'>CO-{{ obj.pk }}</A></td>
                    <td>{{ obj.get_app_type_display }}</td>
		    <td>{% if obj.approval_id is None %}None{% else %}<a href='{% url 'approval_detail' obj.approval_id %}'>AP-{{ obj.approval_id }}</a>{% endif %}</td>
                    <td>{{ obj.title }}</td>
                    <td>{{ obj.applicant.get_full_name }}</td>
                    <td>
                            {% if obj.status == 2 or obj.status == 3 or obj.status == 4 or obj.status == 8 or obj.status == 9 %}
                                   {{ obj.get_status_display }}
		            {% elif obj.status == 7 %}
                                   Waiting Feedback
                            {% else %}
                                Submitted
                            {% endif %}
		    </td>
                    <td>{{ obj.due_date|date:"d-M-Y" }}</td>
		    <td>
                           {% if obj.status != 2 and obj.status != 8 and obj.status != 7 %}
			           <a HREF='{% url 'compliance_approval_view_external' obj.pk %}'>View</A>
			   {% else %}
    			           <a HREF='{% url 'compliance_approval_update_external' obj.pk %}'>Submit</A>
			   {% endif %}
		    </td>
                </tr>
                {% endfor %}



            </tbody>
        </table>
    </div>

</div>
</div>
<script>
function loadTable() {
    $('#compliance-table').dataTable({searching: false, paging: true, "pageLength": 10,
	"aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 7 ] }
       ]


});
}
window.onload= function() {
    loadTable();
}
</script>

