{% extends "base_statdev.html" %}

{% block page_content_inner %}

<div class="card">
    <div class="card-header fw-bold h4" style="padding:30px;">
        <div class="row">
            <div class="col-6">
                Search Person
            </div>
            <div class="col-6 text-end">
                  <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box1-card-body" onclick=""></i>
            </div>
      </div> 
    </div>


    <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
        <div class="card-body" id="box1-card-body">
            <!-- Search bar -->
            <form action="" method="get">
                <div class="row align-items-center">
                    <!-- Label -->
                    <div class="col-md-1">
                        <label for="search_field" class="form-label">Search:</label>
                    </div>
            
                    <!-- Input field -->
                    <div class="col-md-8">
                        <input id="search_field" type="text" class="form-control" name="q" placeholder="Search..." value="{{ query_string }}">
                    </div>
            
                    <!-- Submit button -->
                    <div class="col-md-1">
                        <input type="submit" name="search" value="Search" class="btn btn-primary" id="submit-id-save">
                    </div>
            
                    <!-- Optional span -->
                    <div class="col-md-8 mt-2">
                        <span></span>
                    </div>
                </div>
            </form>            
            <hr>

        <table id='search-person-table' class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <th>User Id</th>
                    <th>First Name(s)</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Organisations</th>
                    <th>Creation Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                {% for acc_obj in acc_list %}
                <tr>
                    <td><a href="{% url "person_details_actions" acc_obj.acc_row.ledger_id.id "personal" %}">AC-{{ acc_obj.acc_row.pk }}</a></td>
                    <td>{{ acc_obj.acc_row.first_name }}</td>
                    <td>{{ acc_obj.acc_row.last_name }}</td>
                    <td>{{ acc_obj.acc_row.email }}</td>
                    <td>
                        {% for o in acc_obj.acc_row.organisations %}
                            {{ o.organisation }}<BR>
                        {% endfor %}
                    </td>
                    <td>{{ acc_obj.acc_row.date_joined|date:"d-M-Y" }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" role="button" href="{% url "person_details_actions" acc_obj.acc_row.ledger_id.id "personal" %}">View Person</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>

<script>
  function loadTable() {
      $('#search-person-table').dataTable({searching: false, paging: true, "pageLength": 10, "order": [[ 0, "desc" ]],
	columnDefs: [
       { type: 'natural-nohtml', targets: 0 }, { type: 'date-dd-mmm-yyyy', targets: 5 }, { 'bSortable': false, 'aTargets':  6 }
     ]


});  }
  window.onload= function() {
      loadTable();
  }
</script>

{% endblock %}
