{% extends "base_statdev.html" %}

{% block page_content_inner %}

<div class="card">
    <div class="card-header fw-bold h4" style="padding:30px;">
        <div class="row">
            <div class="col-6">
                Search Reference
            </div>
            <div class="col-6 text-end">
                  <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box1-card-body" onclick=""></i>
            </div>
      </div> 
    </div>


    <div class="collapse show" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
        <div class="card-body" id="box1-card-body">
            <!-- Search bar -->
            <form action="" method="get">
                <div class="row">
                    <div class="hidden-xs col-sm-1">
                        <label for="search_field">Search:</label>
                    </div>
                    <div class="col-xs-12 col-sm-11 col-md-8">
                        <input id="search_field" type="text" class="form-control" name="q" placeholder="Search..." value="{{ query_string }}">
                    </div>
                    <div class="col-sm-12 col-md-1 col-lg-1">
                        <input type="submit" name="search" value="Search" class="btn btn-primary" id="submit-id-save">
                    </div>

                    <div class="col-xs-12 col-sm-11 col-md-8">
                        <span></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

