{% extends "base_statdev.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block page_content_inner %}
<link rel="stylesheet" type="text/css" href="{% static "/css/applications.css" %}?ver={{ GIT_COMMIT_HASH }}" />

<div class="panel panel-default">
    <div class="panel-body ">
        <div class="row">
            <div class="col-xs-12">
                <p style='font-size: 17px'> 
                    Payment Successful
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

