            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="description_heading">
                    <h3 class="panel-title">
                        <a role="button" data-toggle="collapse" href="#description_collapse" aria-expanded="true" aria-controls="description_collapse">
                           Description
                            <span class="glyphicon glyphicon-chevron-down collapse-glyph"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-collapse {{ collapse.title }}" id="title_collapse" role="tabpanel" aria-labelledby="title_heading">
                    <div class="panel-body">
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Description</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                        {{ object.description }}
                                </div>
                        </div>
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Proposed development plans</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                {% if object.proposed_development_plans %}
                                        {% for doc in object.proposed_development_plans.all %}
                                        <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='{{ doc.file_url }}' target="new_tab_{{ doc.id }}">{{ doc }}</A></div>
                                        {% endfor %}
                                {% else %}
                                        No Attachments
                                {% endif %}
                                </div>
                        </div>
                        <div class='col-sm-12 col-lg-12'>
                                <div class='col-sm-12 col-lg-6'>
                                        <label>Supporting info demonstrate compliance trust policies</label>
                                </div>
                                <div class='col-sm-12 col-lg-6'>
                                {% if object.supporting_info_demonstrate_compliance_trust_policies %}
                                        {% for doc in object.supporting_info_demonstrate_compliance_trust_policies.all %}
                                        <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='{{ doc.file_url }}' target="new_tab_{{ doc.id }}">{{ doc }}</A></div>
                                        {% endfor %}
                                {% else %}
                                No Attachments
                                {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>

