            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Landowner Consent
                        </div>
                        <div class="col-6 text-end">
                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box10-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                
                <div class="collapse show {{ collapse.landowner_consent }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box10-card-body">
                        <div class="row">
                            <div class="col-12">
                                <p>
                                    Print <a href="#">this document</a> and have it signed by each landowner (or body responsible for management).
                                </p>
                                <p><strong>Attach signed documents to this application.</strong></p>
                            </div>
                    
                            <div class="col-lg-4">
                                {% if land_owner_consent_list %}
                                    {% for doc in land_owner_consent_list %}
                                        <div class="mb-2">
                                            <a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">{{ doc.path_short }}</a>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <p>No Attachments Added</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <br>
