            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            Landowner Consent
                        </div>
                        <div class="col-6 text-end">
                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box11-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                
                <div class="collapse show {{ collapse.landowner_consent }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box11-card-body">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div class="col-lg-4">
                                {% if  object.land_owner_consent %}

                                {% for doc in object.land_owner_consent.all %}
                                <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='{{ doc.file_url }}' target="new_tab_{{ doc.id }}">{{ doc }}</A></div>
                                {% endfor %}
                                {% else %}
                                No Attachments Added
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

