<div class="card">
        <div class="card-header fw-bold h4" style="padding:30px;">
        <div class="row">
                <div class="col-6">
                        Other Information
                </div>
                <div class="col-6 text-end">
                <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box14-card-body" onclick=""></i>
                </div>
        </div> 
        </div>
        
        <div class="collapse show {{ collapse.title }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                <div class="card-body" id="box14-card-body">
                        <div class="row mb-3">
                            <div class="col-lg-6 fw-bold">Proposed commencement date</div>
                            <div class="col-lg-6">{{ object.proposed_commence }}</div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-6 fw-bold">Proposed end date</div>
                            <div class="col-lg-6">{{ object.proposed_end }}</div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-6 fw-bold">Approximate cost</div>
                            <div class="col-lg-6">{{ object.cost }}</div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-6 fw-bold">Riverbank project number (if applicable)</div>
                            <div class="col-lg-6">{{ object.project_no }}</div>
                        </div>
                    
                        <div class="row mb-3">
                            <div class="col-lg-6 fw-bold">Details of related permits</div>
                            <div class="col-lg-6">{{ object.related_permits }}</div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <br>

