            <!-- Other Documents panel -->
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                <div class="row">
                        <div class="col-6">
                                Other documents
                        </div>
                        <div class="col-6 text-end">
                        <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box13-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                
                <div class="collapse show {{ collapse.certificate_of_survery }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                        <div class="card-body" id="box13-card-body">
                                                <div class="fluid-container">

                    <div class ="row">
                        <div class="col-xs-12">
                            <h4>Certificate of survey:</h4>

                                        {% if object.cert_survey %}
                                                {% for doc in object.cert_survey.all %}
                                                <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='{{ doc.file_url }}' target="new_tab_{{ doc.id }}">{{ doc }}</A></div>
                                                {% endfor %}
                                        {% else %}
                                                No Attachments
                                        {% endif %}
                            <h4>Public liability insurance certificate:</h4>

                                        {% if object.cert_public_liability_insurance %}
                                                {% for doc in object.cert_public_liability_insurance.all %}
                                                <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='{{ doc.file_url }}' target="new_tab_{{ doc.id }}">{{ doc }}</A></div>
                                                {% endfor %}
                                        {% else %}
                                                No Attachments
                                        {% endif %}


                            <h4>Risk management plan (if available):</h4>

                                        {% if object.risk_mgmt_plan %}
                                                {% for doc in object.risk_mgmt_plan.all %}
                                                <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='{{ doc.file_url }}' target="new_tab_{{ doc.id }}">{{ doc }}</A></div>
                                                {% endfor %}
                                        {% else %}
                                                No Attachments
                                        {% endif %}
                            <h4>Safety management procedures (if available):</h4>

                                        {% if object.safety_mgmt_procedures %}
                                                {% for doc in object.safety_mgmt_procedures.all %}
                                                <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='{{ doc.file_url }}' target="new_tab_{{ doc.id }}">{{ doc }}</A></div>
                                                {% endfor %}
                                        {% else %}
                                                No Attachments
                                        {% endif %}

                            <h4>Brochures, itineraries or advertisements (if applicable):</h4>

                                        {% if object.brochures_itineries_adverts %}
                                                {% for doc in object.brochures_itineries_adverts.all %}
                                                <div class="col-sm-12 col-md-12 col-lg-12"><A HREF='{{ doc.file_url }}' target="new_tab_{{ doc.id }}">{{ doc }}</A></div>
                                                {% endfor %}
                                        {% else %}
                                                No Attachments
                                        {% endif %}

                        </div>
                    </div>
                </div>
                </div>
                    </div>
            </div>
            <br>
