<div class="card">
    <div class="card-header fw-bold h4" style="padding:30px;">
    <div class="row">
            <div class="col-6">
                Proposed Commercial Acts and Activites
            </div>
            <div class="col-6 text-end">
            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box16-card-body" onclick=""></i>
            </div>
    </div> 
    </div>
    
    <div class="collapse show {{ collapse.proposed_activities }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
            <div class="card-body" id="box16-card-body">
                        <p>{{ object.description }}</p>
            </div>
        </div>
    </div>
    <br>

