            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            River Reserve Lease (Swan and Cannning Management Act 2006 - section 29)
                        </div>
                        <div class="col-6 text-end">
                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box41-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                <div class="collapse show {{ collapse.river_reserve_lease_section_29 }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box41-card-body">
                        <div class="row mb-3">
                          <div class="col-12">
                            If you intend to apply for a lease in relation to this proposed development, you will need to complete a separate Form – Application for a River reserve lease – and lodge it concurrently with this application.  
                            <br><br>
                            Note: River reserve leases will not be granted for developments requiring approval under section 70 of the Act – to which the proposed lease relates – unless that approval has been granted.
                          </div>
                        </div>
                      
                        <div class="row mb-3">
                          <div class="col-3 fw-bold">Does the development require a River reserve lease?</div>
                          <div class="col-9">
                            {% if object.river_lease_require_river_lease is True %}
                              Yes
                            {% else %}
                              No
                            {% endif %}
                          </div>
                        </div>
                      
                        <div class="row mb-3">
                          <div class="col-3 fw-bold">If Yes, Please Attach application (PDF)</div>
                          <div class="col-9">
                            {% if object.river_lease_scan_of_application %}
                              <a href="/media/{{ river_lease_scan_of_application.upload.name }}">{{ river_lease_scan_of_application.name }}</a>
                            {% else %}
                              No Attachment Added
                            {% endif %}
                          </div>
                        </div>
                      </div>                      
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-header fw-bold h4" style="padding:30px;">
                    <div class="row">
                        <div class="col-6">
                            River Reserve Licence (Swan and Cannning Management Act 2006 - section 32)
                        </div>
                        <div class="col-6 text-end">
                            <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box42-card-body" onclick=""></i>
                        </div>
                </div> 
                </div>
                <div class="collapse show {{ collapse.river_reserve_lease_section_32 }}" id="applicant_collapse" role="tabpanel" aria-labelledby="applicant_heading">
                    <div class="card-body" id="box42-card-body">
                        <div class="row mb-3">
                          <div class="col-12">
                            Based on screenshot something is supposed to go here... but not sure what!
                          </div>
                        </div>
                      
                        <div class="row mb-3">
                          <div class="col-3 fw-bold">
                            Does the proposed development involve an activity in the River reserve that will require a River reserve licence?
                          </div>
                          <div class="col-9">
                            {% if object.river_lease_reserve_licence is True %}
                              Yes
                            {% else %}
                              No
                            {% endif %}
                          </div>
                        </div>
                      
                        <div class="row mb-3">
                          <div class="col-3 fw-bold">
                            If Yes, Enter application number (Application must have been successfully submitted)
                          </div>
                          <div class="col-9">
                            {% if object.river_lease_application_number %}
                              {{ object.river_lease_application_number }}
                            {% else %}
                              <i>No Application Number</i>
                            {% endif %}
                          </div>
                        </div>
                      </div>                      
                </div>
            </div>
            <br>
