           
           <div class="card">
            <div class="card-header fw-bold h4" style="padding:30px;">
            <div class="row">
                    <div class="col-6">
                        Vessel Details
                    </div>
                    <div class="col-6 text-end">
                    <i class="bi fw-bold chevron-toggle down-chevron-open" style="cursor: pointer;" data-bs-target="#box17-card-body" onclick=""></i>
                    </div>
            </div> 
            </div>
            
            <div class="collapse show {{ collapse.vessel_details }}" id="application_list_collapse" role="tabpanel" aria-labelledby="application_list_heading">
                    <div class="card-body" id="box17-card-body">
                               
                               <h4>Vessels</h4>
                               <table class="table table-bordered table-striped">
                                   <tr>
                                       <th>Nominated vessel</th>
                                       <th>Vessel ID</th>
                                       <th>Hire and drive registration</th>
                                       <th>Size (m)</th>
                                       <th>Engine (kW)</th>
                                       <th>Passenger capacity</th>
                                   </tr>
                                   {% for vessel in object.vessels.all %}
                                      {% if vessel.vessel_type == 0 %}
                                         <tr>
                                             <td>{{ vessel.name }}</td>
                                             <td>{{ vessel.vessel_id }}</td>
                                             <td>
                                                 {% if vessel.registration.exists %}
                                                 {% for doc in vessel.registration.all %}<a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">{{ doc }}</a><br>{% endfor %}
                                                 {% endif %}
                                             </td>
                                             <td>{% if vessel.size %}{{ vessel.size }}{% endif %}</td>
                                             <td>{% if vessel.engine %}{{ vessel.engine }}{% endif %}</td>
                                             <td>{% if vessel.passenger_capacity %}{{ vessel.passenger_capacity }}{% endif %}</td>
                                         </tr>
                                      {% endif %}
                                   {% endfor %}
                               </table>
            


 			       <h4>Crafts</h4>
                               <table class="table table-bordered table-striped">
                                   <tr>
                                       <th>Craft Type</th>
                                       <th>Number of Crafts</th>
                                       <th>Documents</th>
                                   </tr>
                                   {% for vessel in object.vessels.all %}
                                      {% if vessel.vessel_type == 1 %}
                                          <tr>
                                              <td>{{ vessel.craft_type }}</td>
                                              <td>{{ vessel.number_of_crafts }}</td>
                                              <td>
                                                  {% if vessel.documents.exists %}
                                                  {% for doc in vessel.documents.all %}<a href="{{ doc.file_url }}" target="new_tab_{{ doc.id }}">{{ doc }}</a><br>{% endfor %}
                                                  {% endif %}
                                              </td>
                                          </tr>
                                      {% endif %}
                                   {% endfor %}
                               </table>



                    </div>
                </div>
            </div>
            <br>





