{% if staff == True %}
<li class="nav-item" ><a class="nav-link" href="/">Dashboard</a></li>
<li class="nav-item" ><a class="nav-link" href="{% url 'application_list' %}" title="Applications">Applications</a></li>
<li class="nav-item" ><a class="nav-link" href="{% url 'approval_list' %}" title="Approvals">Approvals</a></li>
<li class="nav-item" ><a class="nav-link" href="{% url 'compliance_list' %}">Clearance of Conditions</a></li>
<li class='nav-item' ><a class="nav-link" href="{% url 'emergencyworks_list' %}">Emergency works</a></li>
<li class="nav-item" ><a class="nav-link" href="{% url 'organisation_access_requests' %}" title="Company Access">Company Access</a></li>
<li class="nav-item" ><a class="nav-link" href="{% url 'search_list' %}">Search</a></li>
{% else %}
<li class="nav-item" ><a class="nav-link" href="" title="Contact Us">Contact Us</a></li> 
<li class="nav-item" ><a class="nav-link" href="" title="Further Information">Further Information</a></li>
{% endif %}

<script>
    var payment_processing = 
    {
       var: { checkouthash: "{{ checkouthash }}"}
    }

    function createCookie(name, value, days) {
        var expires;
    
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        } else {
            expires = "";
        }
        document.cookie = encodeURIComponent(name) + "=" + encodeURIComponent(value) + expires + "; path=/";
    }

    function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
 
    createCookie('checkouthash', "{{ checkouthash }}");

    if (window.location.href.indexOf("payment-details") != -1) {
        setInterval(function() {
            createCookie(document.getElementById('payment-csrfmiddlewaretoken').value, "{{ checkouthash }}");
            var checkouthash_cookie = readCookie("checkouthash");
            if (payment_processing.var.checkouthash != checkouthash_cookie) {
                if ("{{is_internal_login}}" == "True") {
                    window.location = "/internal"
                } else {
                    window.location = "/external"
                }
            }		
        },"500");
    }
</script>