.table-borderless > tbody > tr > td,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > td,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > thead > tr > th {
    border: none;
}

.collapse-glyph {
    float: right;
}

.radio-caption {
    padding-top: 5px;
    padding-left: 20px;
    color: #67bce6; 
    font-size: 14px;
}

#div_id_app_type {
    padding-left:30px;
}

#div_id_apply_on_behalf_of {
    padding-left:30px;

}

#div_id_organisation {
    padding-left:30px;
}



.dt-button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;

    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
